<style>
#overlay {
   position: fixed;
   left: 0%;
   top: 0%;
   z-index: 9999;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    height: 100%;
        }
  #loader {
    position: fixed;
    display: block;
     left: 50%;
     top: 48%;
     z-index: 9999;
     width: 100%;
      height: 100%;
      background-image: url(images/report/loader.gif);
     background-repeat: no-repeat;
     margin: -77px 0 0 -75px;
        }
</style>
<div id="overlay" style="display: none;">
        <div id="loader">
        <div style="font-size: 20px; padding-top:5%"><b>Please wait...</b>
</div>   </div> </div>
<div id="tablediv" class="col-md-12">
			<div align="center">
				<span id="titletab" class="form_txt ">Report on parcels for which BOE are filed by the importer</span>
			</div>

			<table id="processtable" class="table table-striped table-bordered mt-3 newtable"
				style="font-size: 16px; text-align: center;">
				<thead style="background-color: #a1c4e6;">
					
					<tr>
						<th scope="col" id="sinid" style="width: 45px;">Sl.No. </th>
						<th scope="col" style="text-align: center;">Opening Balance (in counts)</th>
						<th scope="col" style="text-align: center;">Receipt for the month (as imported parcels)</th>
						<th scope="col" style="text-align: center;">Receipt upto the month</th>
						<th scope="col" style="text-align: center;">For filing BOE (for the month)</th>
						<th scope="col" style="text-align: center;">For filing BOE (upto the month)</th>
						<th scope="col" style="text-align: center;">Disposal for the month (BOE filed)</th>
						<th scope="col" style="text-align: center;">Disposal upto the month (BOE filed)</th>
						<th scope="col" style="text-align: center;">Closing Balance (in counts)</th>
						<th scope="col" style="text-align: center;">Customs Duty collected for the month (in Rs)</th>
						<th scope="col" style="text-align: center;">Customs duty collected upto the month (in Rs)</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="values: ${reportcolumnss}" class="" >
					   <td></td>
					   <td th:text="${values.item_id}"></td>
					   <td th:text="${values.ead_date}"></td>
					   <td th:text="${values.mail_category}"></td>
					   <td th:text="${values.org_cd}"></td>
					   <td th:text="${values.item_no}"></td>
					   <td th:text="${values.nou}"></td>
					   <td th:text="${values.cth}"></td>
					   <td th:text="${values.cth}"></td>
					   <td th:text="${values.cth}"></td>
					   <td th:text="${values.cth}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<script  th:inline="javascript" >
		$(document).ready(function() {
	$("#processtable").dataTable({
		"processing": true,
		"paging": true
	});
	
	
            $('#processtable').DataTable().on( 'order.dt search.dt', function () {
                $('#processtable').DataTable().column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
                         cell.innerHTML = i+1;
                     } );
                 }).draw();
	

});
function showLoader() {
	$("#overlay").css("display", "block");
	$('#overlay').height($("body").innerHeight());
}

function hideLoader() {
	setTimeout(function() {
		$("#overlay").css("display", "none");
	}, 500);
}

</script>

<script th:src="@{js/datatables.min.js}"></script>