<style>

#overlay {
   position: fixed;
   left: 0%;
   top: 0%;
   z-index: 9999;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    height: 100%;
        }
  #loader {
    position: fixed;
    display: block;
     left: 50%;
     top: 48%;
     z-index: 9999;
     width: 100%;
      height: 100%;
      background-image: url(images/report/loader.gif);
     background-repeat: no-repeat;
     margin: -77px 0 0 -75px;
        }
</style>
 <input id="roleget" type="hidden" th:value="${session.offId }" />
<input id="cussite" type="hidden"  th:value="${session.data2 }" />
<input id="role"   type="hidden"  th:value="${session.data1 }" />


	

<div id="overlay" style="display: none;">
        <div id="loader">
        <div style="font-size: 20px; padding-top:5%"><b>Please wait...</b>
</div>   </div> </div>


<div id="queryQueueshow" class="col-md-12">

<input type="hidden" id="clock">
		<div align="center" class=" mt-2" style="margin: 1%;">
			<lable
				style="vertical-align: -webkit-baseline-middle;font-weight: 500;color: blue;">Total no. of Article IDs Received as EAD during last month or for any select period (Countrywise / Mail-Classwise / Item-Categorywise)</lable>
		</div>
		
		
		<div class="row mb-3">
		<div align="left" class="col-md-6" >
			<lable style="vertical-align: -webkit-baseline-middle;font-weight: 1000;color: navy;">Total No Of Articles Processed : <span style="background-color: rgb(239 239 239);color: black;border: none;padding: 2px 12px 3px 12px;text-decoration: none;font-weight: 600;cursor: default;" th:text="${processed}"></span></lable>
			
		</div>
		<div align="right" class="col-md-6" >
			<lable style="vertical-align: -webkit-baseline-middle;font-weight: 1000;color: navy;">Total No Of Articles Cleared : <span style="background-color: rgb(239 239 239);color: black;border: none;padding: 2px 12px 3px 12px;text-decoration: none;font-weight: 600;cursor: default;" th:text="${cleared}"></span></lable>
			
		</div>
		</div>
		
			<table id="processtable"
				class="table table-striped table-bordered newtable"
				style="font-size: 14px; text-align: center; width: 100%;">
				<thead style="background-color: #a1c4e6;">
					<tr>
						<th scope="col" id="sinid" style="width: 45px;">Sl.No.</th>
						<th style="text-align: center;vertical-align: middle;white-space:nowrap;">Article Id/<br>Posting Date</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">FPO Site</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">Dummycolumnnamegivenreferjsfordetails</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">DummyColNameforPersoorcommercial</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">Mail class</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">Item Category</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">No.of Items</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">Total Assessed Value</th>
						<th class="tablecolumn" scope="col" style="text-align: center;vertical-align: middle;white-space:nowrap;">BCD Amount /<br>IGST Amount /<br> SW Amount</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">Other Duty</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">Total Duty</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">Duty FG</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">Duty Amount Charged</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">OOC Date</th>
						<th class="tablecolumn" scope="col" style="text-align: center;">Delivery Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="values, iter: ${reportcolumns}" class="">
						<!-- <td class="tablecolumn" th:text="${values.id}"></td> -->
						<td class="tablecolumn" th:text="${iter.index+1}"></td>
						<td style="vertical-align: middle;" ><span th:text="${values.item_id}"></span> <br> <span th:text="${values.post_dt}" ></span></td>
						<td class="tablecolumn" th:text="${values.cussite}"></td>
						<td class="tablecolumn" th:text="${values.coo}"></td>
						<td class="tablecolumn" th:text="${values.commercial == null ? 'Personal' : 'Commercial'}"></td>
						<td class="tablecolumn" th:text="${values.mail_class}"></td>
						<td class="tablecolumn" th:text="${values.item_category}"></td>
						<td class="tablecolumn" th:text="${values.noofitem}"></td>
						<td class="tablecolumn" th:text="${values.totassval}"></td>
						<td class="tablecolumn" style="vertical-align: middle;" ><span th:text="${values.bcd_amt}"></span> <br> <span th:text="${values.igst_amt}" ></span> <br> <span th:text="${values.sw_amt}" ></span></td>
						<td class="tablecolumn" th:text="${values.other_duty}"></td>
						<td class="tablecolumn" th:text="${values.totduty}"></td>
						<td class="tablecolumn" th:text="${values.dutyfg}"></td>
						<td class="tablecolumn" th:text="${values.dutycharged}"></td>
						<td class="tablecolumn" th:text="${values.oocdt}"></td>
						<td class="tablecolumn" th:text="${values.deldt}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<script th:inline="javascript">
		
		//function  by santhosh	
	         
function generateReport(number, type,name,category) {
  var datetime = new Date().toLocaleString();
  var role = document.getElementById("roleget").value;
  var site = document.getElementById("cussite").value;
  var rolename = document.getElementById("role").value;
  var data = {
    number: number,
    type: type,
    datetime: datetime,
    role: role,
    name:name,
    site:site,
    rolename:rolename,
    category:category
    
  };

  $.ajax({
  
    url:'savereportdetails',
    method: "POST",
    data: data,
    success: function(response) {
    
      console.log("Data saved successfully");
    },
    error: function(error) {
      console.log(error);
      alert("Error occurred while saving data");
    }
  });
}
	
		 $('.datesel').css('display','inline-flex');
		 
		 document.title="Total no of articles processed and cleared for the selected period (OOC Given) from "+$('#fromdate').val()+" to "+$('#todate').val()+" as on " + $('#clock').val();
         
         $("#processtable").dataTable({
		"processing": true,
		"paging": true,

		"ordering": false,
		//"dom": 'Bfrtip',
		//buttons: ['excel', 'pdf', 'print']
		"dom": '<"pull-left"Bl>frtip',
		buttons: [{extend: "excel", text: '<i>EXCEL</i>',
		exportOptions: {
						format: {
        					header: function ( data, column ) {
						if ( column == 3 ) 
        					return "Country Name"
        					else if(column == 4)
        					return "Personal/Commercial"
        					else if(column == 1)
        					return "Article Id/Posting Date"
        					
        					else if(column==9)
        					return "BCD Amount/IGST Amount /SW Amount"
        				else	
        					return data; }}},
		
				   className: 'btn btn-primary mb-3',
				   title:'FPO IMPORT APPLICATION - ICES',
					filename:' Total no of articles processed and cleared for the selected period ',
					message:'  Total no of articles processed and cleared for the selected period @ ' + sitecode + '\n\r' + datetime, 
					customize: function (doc) {
					generateReport(10,"excel","Total no. of Article IDs Received as EAD during the period (Countrywise / Mail-Classwise / Item-Categorywise)","Volumetric of Articles Handled");
					
					}},
				//pdf
    			  {extend: 'pdf',
    			  exportOptions: {
						format: {
        					header: function ( data, column ) {
						if ( column == 3 ) 
        					return "Country Name"
        					else if(column == 4)
        					return "Personal/Commercial"
        					else if(column == 1)
        					return "Article Id/Posting Date"
        					
        					else if(column==9)
        					return "BCD Amount/IGST Amount /SW Amount"
        				else	
        					return data; }}},
    			  
				    text:'<i>PDF</i>',
				    pageSize: 'A4',
					//watermark:'fpo',
                    className: ' btn btn-success mb-3 ',				
				    orientation: 'landscape',
				    
		   		    customize: function(doc, header) {
		   		    generateReport(10,"pdf","Total no. of Article IDs Received as EAD during the period (Countrywise / Mail-Classwise / Item-Categorywise)","Volumetric of Articles Handled");
					
		   		    // doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
		   		    doc.content[1].table.widths = ['5%','8%','6%','6%','9%','8%','7%','5%','5%','5%','5%','5%','5%','5%','8%','8%'];
				   	 doc.defaultStyle.alignment = 'center'
					 //doc.styles.tableHeader.fillColor='#ADD8E6',
					 doc.styles.tableHeader = {
        						color: '#2D1D10',
								fillColor:'#ADD8E6',
        						fontSize: '10',
        						alignment: 'center'
    						},
					doc.content.splice(1, 0,{
					text: [{text:' Date:'+ datetime, bold: true,
					alignment: 'right',
					fontSize: 7,
					margin:[0,20,0,20],
					//watermark:'fpo', 
					},],});
					doc.content.splice(1, 0,{
          			text: [{text:' SSO ID: ' + empid, bold: true,
					alignment: 'left',
					fontSize: 7,
					margin:[0,0,90,20],
					//watermark:'fpo', 
					},],}); 
					//doc.style.tableHeader		
					doc.defaultStyle.fontSize = 5;
					doc.styles.title.bold=true;
					doc.styles.title.fontSize=15;
					doc.styles.title.alignment="center",
					doc.styles.message.fontSize = 9;
					doc.styles.message.bold=true;
					//doc.styles.message.alignment = "right";
					doc.styles.tableHeader.fontSize= 5
					doc.styles.tableHeader.bold=true;
					doc['footer']=(function(page, pages) {
							return {
								columns: ['',{
								alignment: 'right',
										text: ['Page  ',{ text: page.toString(), italics: true,fontSize:7},'  of ',
											{ text: pages.toString(), italics: true,fontSize:6 }],italics: true, fontSize:6  }],
										margin: [15, 0]}});
    		        },
			title: 'FPO IMPORT APPLICATION - ICES'+
							'\n\r'+'Total no of articles processed and cleared for the selected period  @ ' + sitecode,
           			//message: empid,
					//message:datetime, 
					filename:'Total no of articles processed and cleared for the selected period  ',

     },
			//Print
		         {extend: "print" ,
		         exportOptions: {
						format: {
        					header: function ( data, column ) {
						if ( column == 3 ) 
        					return "Country Name"
        					
        					else if(column == 4)
        					return "Personal/Commercial"
        					
        					else if(column == 1)
        					return "Article Id/Posting Date"
        					
        					else if(column==9)
        					return "BCD Amount/IGST Amount /SW Amount"
        				else	
        					return data; }}},
		         
				  className: 'btn btn-danger mb-3',
				  title: 'FPO IMPORT APPLICATION - ICES',
			      text: '<i>PRINT</i>',
				  message:' Total no of articles processed and cleared for the selected period  @ ' + sitecode + '\n\r' + datetime ,
					filename:'Total no of articles processed and cleared for the selected period ',
					customize: function ( win ) {
					generateReport(10,"print","Total no. of Article IDs Received as EAD during the period (Countrywise / Mail-Classwise / Item-Categorywise)","Volumetric of Articles Handled");
					
						$(win.document.body).css( 'font-size', '8pt' )
						$(win.document.body).find( 'table' ).css( 'font-size', 'inherit' );
						},}],
		
		
		
			 initComplete: function() {
      this.api().columns([3,4]).every(function() {
        var column = this;
        var coldata = column[0];
        if (coldata == 3) {
          var select = $('<select style="background-color: #A1C4E6; font-weight: 700"><option value="">Country Of Origin</option></select>')
            .appendTo($(column.header()).empty())
            .on('change', function() {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());
              column.search(val ? '^' + val + '$' : '', true, false).draw();
            });
          column.data().unique().sort().each(function(d, j) {
            select.append('<option value="' + d + '">' + d + '</option>');
          });
        }
         if (coldata == 4) {
          var select = $('<select style="background-color: #A1C4E6; font-weight: 700"><option value="">Personal/Commercial</option></select>')
            .appendTo($(column.header()).empty())
            .on('change', function() {
              var val = $.fn.dataTable.util.escapeRegex($(this).val());
              column.search(val ? '^' + val + '$' : '', true, false).draw();
            });
          column.data().unique().sort().each(function(d, j) {
            select.append('<option value="' + d + '">' + d + '</option>');
          });
        }
      });

      $("#processtable_filter").append('<button type="button" class="btn btn-info" id="clear" style="margin-left: 15px;margin-bottom: 5px;">Clear</button>');
      $('#clear').on('click', function() {
        $('#processtable_filter input[type="search"]').val('').trigger('input');
        var table = $('#processtable').DataTable();
        table.search('').draw();
      });
    }
	
	
	
	
	});
	
	$("#ExcelExport").on('click', function() {
		$(".buttons-excel").trigger('click');
		this.blur();
	});
	
function showLoader() {
	$("#overlay").css("display", "block");
	$('#overlay').height($("body").innerHeight());
}

function hideLoader() {
	setTimeout(function() {
		$("#overlay").css("display", "none");
	}, 500);
}

      </script>
   
     