<style>
#overlay {
   position: fixed;
   left: 0%;
   top: 0%;
   z-index: 9999;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    height: 100%;
        }
  #loader {
    position: fixed;
    display: block;
     left: 50%;
     top: 48%;
     z-index: 9999;
     width: 100%;
      height: 100%;
      background-image: url(images/report/loader.gif);
     background-repeat: no-repeat;
     margin: -77px 0 0 -75px;
        }
</style>

<div id="overlay" style="display: none;">
        <div id="loader">
        <div style="font-size: 20px; padding-top:5%"><b>Please wait...</b>
</div>   </div> </div>
    <!-- <button th:if="${view}" type="button" onclick="submitArticleOverallReport()" style="margin-left: 35px; cursor: pointer; border: 0; font-weight: bold; height: 35px; margin-top: 20px;" class="btn btn-success">Submit</button> -->
</div>
<div style="background-color: #f8f9fa; padding: 15px;">
   
    <div class="col-md-12">
        <table id="bagitemidtable" class="table table-striped table-bordered mt-3 newtable" style="border:1;font-size: 16px; text-align: center;width:100%;">
            <thead style="background-color: #a1c4e6;">
                <tr>
                    <th rowspan=2 scope="col" style="text-align: center; vertical-align: middle;">ARTICLE
                        ID</th>
                    <th rowspan=2 scope="col" style="text-align: center; vertical-align: middle;">CURRENT STATUS</th>
                    <th colspan=3 scope="col" style="text-align: center; vertical-align: middle;">Article Arrival / Bag Information</th>
                    <th rowspan=2 scope="col" style="text-align: center; vertical-align: middle;">View Bag Arrival Information</th>
                </tr><tr>
                 <th scope="col" style="text-align: center; vertical-align: middle;"> OOE / FPO Destination</th>
                 <th  scope="col" style="text-align: center; vertical-align: middle;"> Bag No.</th>
                 <th scope="col" style="text-align: center; vertical-align: middle;">Arrival Confirmed Date</th></tr>
            </thead>
            <tbody>
                <tr th:each="s,iter : ${arrinfo}" class="">
                    <td onclick="viewSummary(this);"  th:text="${s[0]}" th:articleId="${s[0]}"></td>
                    <td  th:text="${currstatus}" ></td>
                    <td th:text="${s[2]=='R'?'OOE':'FPO DESTINATION'}"></td>
                    <td  th:text="${s[1]}" ></td>
                    <td  th:text="${s[3]}" ></td>
                          </tr>
            </tbody>
           
        </table>

    </div>
</div>










<script type="text/javascript">
  
  function showLoader() {
	$("#overlay").css("display", "block");
	$('#overlay').height($("body").innerHeight());
}

function hideLoader() {
	setTimeout(function() {
		$("#overlay").css("display", "none");
	}, 500);
} 
 function viewSummary(obj) {
    	if($(obj).html()=='NO') {
    		return false;
    	}
        $.ajax({
            url: 'getSummary?id=' + $(obj).attr('articleId'),
            type: "post",
            success: function(data) {
                $("body").css('overflow-y', 'hidden');
                $("#summaryContent").html(data);
                $("#viewSummaryModal").modal('show');
                $("#viewSummaryModal").css('overflow-y', 'auto');
                $("#bagArticleModal").modal('hide');
            },
            error: function(rs, e) {
                swal('OOPS!', "Something went wrong", 'error');
            }
        });
    }
   function closeSummary() {
        $("#summaryContent").html('');
        $("#viewSummaryModal").modal('hide');
    }

 	
</script>