<style>

    #itemstable tbody tr:hover {
        background: #28a745 !important;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        color: white;
    }

    #tooltip {
        position: absolute;
        z-index: 1001;
        display: none;
        border: 2px solid #000;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        padding: 10px;
        background-color: #000;
        pointer: cursor;
    }
    
 #overlay {
   position: fixed;
   left: 0%;
   top: 0%;
   z-index: 9999;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    height: 100%;
        }
  #loader {
    position: fixed;
    display: block;
     left: 50%;
     top: 48%;
     z-index: 9999;
     width: 100%;
      height: 100%;
      background-image: url(images/report/loader.gif);
     background-repeat: no-repeat;
     margin: -77px 0 0 -75px;
        }   
</style>
<div id="overlay" style="display: none;">
        <div id="loader">
        <div style="font-size: 20px; padding-top:5%"><b>Please wait...</b>
</div>   </div> </div>
<div th:if="${ead}" class="container" style="background-color: #f8f9fa;border-right: 4px solid rgb(74, 223, 131);border-radius: 10px;max-width: 98%;margin: 20px;height: auto;padding: 20px;">
    <div th:if="${eadDetail ne null}" align="center" style="
    margin-bottom: 25px;
">
        <h2>ASSESSMENT</h2>
         <p  th:if="${eaddetailacl == 0}" style="color:blue;font-weight:bold;text-transform:capitalize;"><span  style="color: green;font-weight: 400;font-size: 40px;animation: blink 1s linear infinite;text-transform:uppercase;"  th:text="${'Assessment is Done by officer-Id : '+eadDetail.aprId + ' on date '+#dates.format(eadDetail.aprDt, 'dd-MMM-yyyy hh:mm:ss a')}"></span></p>

     <p  th:unless="${eaddetailacl == 0}" style="color:blue;font-weight:bold;text-transform:capitalize;"><span style="color: green;font-weight: 400;font-size: 40px;animation: blink 1s linear infinite;text-transform:uppercase;"  th:text="${'Assessment is Done by officer-Id : '+eadDetail.aclId + ' on date '+#dates.format(eadDetail.aclDt, 'dd-MMM-yyyy hh:mm:ss a')}"></span></p>
    
    <div>
        <div id="tooltip"></div>
        <table id="itemstable" class="table table-striped table-bordered mt-3 newtable" style="font-size: 16px; text-align: center;">
            <thead style="background-color: #a1c4e6;">
                <tr>
                    <th scope="col" id="sinid" style="width: 64px;">Item No.</th>
                    <th scope="col" style="text-align: center;">Item Description</th>
                    <th scope="col" style="text-align: center;">Declared Value</th>
                    <th scope="col" style="text-align: center;">Net Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fpoItem : ${fpoItems}" class="">
                    <td th:text="${fpoItem.ITEM_NO}"></td>
                    <td th:text="${fpoItem.ITEM_DESC}"></td>
                    <td th:text="${fpoItem.DECL_VAL}"></td>
                    <td th:text="${fpoItem.NETWT}"></td>
                </tr>
            </tbody>
        </table></div>
    </div>
       

<div th:unless="${eadDetail ne null}" align="center" style="
    margin-bottom: 25px;
">
        <h1 style="animation: blink 1s linear infinite;text-align: center;margin: 20px;color: red;text-transform: uppercase;">System by default Assessment</h1>
    
    <div>
        <div id="tooltip"></div>
        <table id="itemstable" class="table table-striped table-bordered mt-3 newtable" style="font-size: 16px; text-align: center;">
            <thead style="background-color: #a1c4e6;">
                <tr>
                    <th scope="col" id="sinid" style="width: 64px;">Item No.</th>
                    <th scope="col" style="text-align: center;">Item Description</th>
                    <th scope="col" style="text-align: center;">Declared Value</th>
                    <th scope="col" style="text-align: center;">Net Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="fpoItem : ${fpoItems}" class="">
                    <td th:text="${fpoItem.ITEM_NO}"></td>
                    <td th:text="${fpoItem.ITEM_DESC}"></td>
                    <td th:text="${fpoItem.DECL_VAL}"></td>
                    <td th:text="${fpoItem.NETWT}"></td>
                </tr>
            </tbody>
        </table></div>
    </div>
</div>
<input type="hidden" id="itemId" th:value="${itemId}">
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width: 90%;">
        <div id="itemContent" class="modal-content">
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#itemstable").dataTable({
        "processing": true,
        "paging": true,
        "ordering": false,
        
         "initComplete": function( settings ) {
	         $("#itemstable_filter").append('<button type="button" class="btn btn-info" id="clear" onclick="clearitemstable()" '+
			    'style="margin-left: 15px;margin-bottom: 5px;">Clear</button>');
		     $("#itemstable_filter input[type='search']").attr('id', 'searchitemstable');
    	}  
    
    });

    $(document).on('mousemove', '#itemstable tbody tr', function(e) {
        var rowData = "Click to display details ";
        $("#tooltip").text(rowData).animate({
            left: e.pageX,
            top: e.pageY
        }, 1);

        if (!$("#tooltip").is(':visible')) $("#tooltip").show();

        $(document).on('mouseleave', 'table', function(e) {
            $("#tooltip").hide();
        })
    })

    $('#itemstable tbody').on('click', 'tr', function() {
        $.ajax({
            url: 'viewItemDetails?itemId=' + $("#itemId").val() + '&itemNo=' + $(this).children('td:eq(0)').text(),
            type: "post",
            success: function(data) {
                $("#itemContent").html(data);
                $(".bd-example-modal-lg").modal('toggle')
            },
            error: function(rs, e) {
                alert("Error in nextPageRedirect");
            }
        });
    });
    
 function showLoader() {
	$("#overlay").css("display", "block");
	$('#overlay').height($("body").innerHeight());
}

function hideLoader() {
	setTimeout(function() {
		$("#overlay").css("display", "none");
	}, 500);
}   


 function clearitemstable(){
    document.getElementById("searchitemstable").value=""
    var table = $('#itemstable').DataTable();
    table.search('').draw();
  } 
 
</script>