<html>
<head lang="en" th:replace="header :: header"></head>
<link th:href="@{css/bootstrap1.min.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{js/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<link th:href="@{css/font-awesome.min.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{js/font.js}"></script>
<link th:href="@{css/datatables.min.css}" rel="stylesheet"
	type="text/css" />
<script th:src="@{js/datatables.min.js}"></script>
<script  th:src="@{js/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{js/datatables/jszip.min.js}"></script>
<script th:src="@{js/datatables/pdfmake.min.js}"></script>
<script th:src="@{js/datatables/vfs_fonts.js}"></script>
<script  th:src="@{js/datatables/buttons.html5.min.js}"></script>
<script  th:src="@{js/datatables/buttons.print.min.js}"></script>
<script th:src="@{js/moment.min.js}"></script>
<title>Articles Arrived at FPO</title>
<style>


/*By Prem Kumar  */
.gray_note {
	background-color: #7fa0c3;
	padding: 10px;
	font-size: 16px;
	border-radius: 20px;
}

.buttonstyle {
    color: white; 
    font-size: 16px; 
     background: dimgray; 
     padding: 5px; 
     border-radius: 12px; 
     border: 2px solid #4a4d5d; 
     border-left: solid #4a4d5d 2px; 
     border-top: solid #4a4d5d 2px; 
}



.bordstyle {
    border: 2px solid white;
    background: dimgray;
    border-radius: 20px;
    padding: 2px;
}






.hiddenac{
	display : none !important;
}



.h2-row{
	    background-color: #d1ecf1;
    color: slategrey;
    font-family: monospace;
    font-weight: bold;
    padding: 0px 7px 0px 0px;
    width: 100%;
    margin: 0;
}


.lab_txt {
	font-size: 14px;
	color: blue;
}

.tot_no {
	font-size: 13px;
	font-weight: 700;
	color: blue;
}

.numradius {
	border: 2px solid #ff4957;
	background-color: #ff4957;
	color: white;
	border-radius: 20px;
	padding: 10px;
}

table.dataTable tbody th, table.dataTable tbody td {
	padding: 0px 10px;
}

.flash
{

font-size : 16px;

animation-name:blink;
animation-duration:1s;
animation-timing-function:linear;
animation-iteration-count:infinite;
}


@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}


.buttons-excel{
display: none;
} 

#overlay {
	position: absolute;
	left: 0%;
	z-index: 9999;
	width: 100%;
}

#loader {
	position: fixed;
	display: block;
	left: 50%;
	top: 48%;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-image: url(images/report/loader.gif);
	background-repeat: no-repeat;
	margin: -77px 0 0 -75px;
}

.swal-button {
	        background-color: #35b935;
	        color:#fff;
	        box-shadow: none;
	    }
	    
	    .swal-button--cancel{
		    color:#fff;
		    background-color: #f14141;
		    box-shadow: none;
	    }
	    
	     .swal-button:not([disabled]):hover {
	        background-color: #35b935;
	        color:#fff;
	    }
	    
	    .swal-button--cancel:not([disabled]):hover {
		    color:#fff;
		    background-color: #f14141;
        }
        
        .swal-button:active {
        	background-color: #35b935;
	        color:#fff;
        }
        
        .swal-footer{
        	display: flex;
    		justify-content: space-around;
    		gap:250px;
    	}   

	.swal-button:focus {
        	outline: none !important;
        	box-shadow: none !important;
     	 }


#noitem{
width: 45.3906px !important;

}



</style>
</head>
<body style="background: #d6dcd9;overflow-x: hidden;">
<div id="overlay" style="display: none;">
        <div id="loader">
        <div style="font-size: 20px; padding-top:5%"><b>Please wait...</b>
</div>   </div> </div>
<input type=hidden id="sttime" th:value="${session.stime}">
<input type="hidden" id="qrycount" th:value="${qrycou}">
<input type="hidden" th:value="${session.data}" id="empId" /> 
<input type="hidden" th:value="${session.data1}" id="role" />
 <input type="hidden" th:value="${session.data2}" id="sitecode" />
 
 

	
	<div style="background-color: #67acb5;border-right: 4px solid rgb(74, 223, 131);border-radius: 10px;max-width: 100%;margin: 10px;padding: 15px 20px;">
		<div class="col-md-1" style="padding-left: 10px;">
			<a href="import_role"><button type="button" class="btn btn-info" style="line-height: 16px; background-color: darkred; border-color: darkred;">Back</button></a>
		</div>
		<div align="center">
			<h2>Postal Imports - Articles Arrived at FPO (AAF)</h2>
		</div>




		<div class="row mt-3" > 
			<div class="col-md-2" id="qrycoudisp">
				<!-- <a href="dash"><button type="button" class="btn btn-secondary">Back
						to Dashboard</button> --> <a href="import_query_search"><button
							type="button" class="btn btn-success" th:disabled="${session.data1=='PAC'}">Pending in Query
							Queue - <span th:text="${qrycou}"></span></button> </a>
			</div>
			
	
			<div class="col-md-8 mt-3" th:if="${session.data1=='PAO'}" align="center" >
				<p>
					<strong>Allotted  Mail Class : <font color="black"><span th:text="${dispmailcat}"></span></strong>
				</p>
			</div>
			<div class="col-md-2 mt-3 " style="position: absolute;right: 33px;">
				<p class="tot_no">
					Tot no of Articles in the Queue: <span class="numradius" th:text="${couass}" >
					</span>
				</p>
			</div>
			<!--div class="col-md-1 rebyacbtm" style="top: 25px; position: relative;" >
					<button type="button" class="btn btn-danger btn-sm" 
					align="center" 	id="show-hidden-menu">Returned by AC -<span
								class="numradius3"></span></button>
				</div-->
	</div>
			
	<div id="allinitview" >	
	<div >	
			<!-- <div class="col-md-6" align="right"> -->
	</div> 
		
		
		
		
<div class="col-md-12 "> </div>&nbsp;








   <!--div class="row mt-2">
              
				<div class="col-md-1">
					<button type="button" class="btn btn-danger btn-sm"
					align="center"	id="show-aside-menu">Set aside List - <span
							class="numradius3" th:text="${cousetasideimppao}"></span></button>
				</div>
				<div class="col-md-1">
					<button type="button" class="btn btn-danger btn-sm" 
					align="center"	id="show-hidden-menu">Returned by AC - <span
								class="numradius3" th:text="${aprCusiteimp}"></span></button>
				</div>
			</div><br-->

	
			
			
			
			
			
			<table   id="asstTableacl" th:if="${session.data1=='PAC'}" class="table table-bordered qryasstTable" style="font-size: 16px; text-align: center;">
				<thead>
					<tr class="thead-dark">
						<th scope="col" id="sinid">Sl.No.</th>
						<th scope="col">Article ID / Item ID</th>
						<th scope="col">Posting Dt</th>
						<th scope="col">CIN _NO</th>
						<th scope="col">CIN Dt</th>
						<th scope="col">Mail Class</th>
						<th scope="col">Item Category</th>
						<th scope="col">COO</th>
						<th scope="col">Assessable Val(INR)</th>
						<th scope="col">Action</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="s1,iter : ${check}">
						<td th:text="${iter.index+1}">1</td>
						<td th:text="${s1[3]}">464654654</td>
						<td th:text="${s1[2]}">464654654</td>
						<td th:text="${s1[0]}">5648912</td>
						<td th:text="${s1[1]}">5648912</td>
						<td th:text="${s1[5]}">01.01.2020</td>
						<td th:text="${s1[6]}">01.01.2020</td>
						<td th:text="${s1[4]}"></td>
						<td th:text="${s1[7]}"></td>
						
						<td align="center" id="changebtn"><i aria-hidden="true">
								<button type="button" class="btn btn-success qryntrecd" onclick="viewDetail(this);"
									th:id="${s1[0]}" data-target="#pendingpopup" style="padding: 0px"
									th:text="${s1[8]}"></button>

							</i></td>
					</tr>
				</tbody>
			</table>
			
			
			
				
		<!-- <table  th:if="${session.data1=='PAC'}" class="table table-bordered mt-3" id="asstTableacl"
			style="font-size: 14px; text-align: center;">
			<thead>
				<tr class="thead-dark">
					<th scope="col">Sl.No.</th>
						<th scope="col">Article ID / Item ID</th>
								<th scope="col">Posting Dt</th>
								<th scope="col">CIN</th>
								<th scope="col">CIN Dt</th>
								<th scope="col" >No. of Items</th>
								<th scope="col">Assessable Val(INR)</th>
								<th scope="col" >MailClass</th>
								<th scope="col">Item Category</th>
								
					<th scope="col">In Assessment Queue</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s1,iter : ${check}">
					<td th:text="${iter.index+1}">1</td>
					<td th:text="${s1[1]}">464654654</td>
						<td th:text="${s1[3]}">464654654</td>
						<td th:text="${s1[0]}">5648912</td>
						<td th:text="${s1[2]}">5648912</td>
						<td th:text="${s1[5]}">01.01.2020</td>
						<td th:text="${s1[4]}">01.01.2020</td>						
						<td th:text="${s1[6]}"></td>
						<td th:text="${s1[7]}"></td>
					
						
						
                    <td  valign="middle">
						<div class="row" style="justify-content: center;">				         
						<div align="center" style="vertical-align:middle">
						<i aria-hidden="true" th:id="${s1[0]}"
							onclick="viewDetail(this);" th:checks="${s1[8]}">
							<button th:if="${s1[8]=='D-Call Letter Delivered, Reply Not Received in Time / Complete Assessment'}" type="button" th:id="${iter.index+1}" 
									class="btn btn-success" th:text="${s1[8]}" style="padding: 0px;">
						</button>
							<button th:if="${s1[8]=='D-Call Letter Not Delivered, Reply Not Received in Time / Complete Assessment'}" type="button" th:id="${iter.index+1}" 
									class="btn btn-success" th:text="${s1[8]}" style="padding: 0px;"> 
						</button>
						<button th:if="${s1[8]!='View Query Reply / Complete Assessment' and s1[8]!='D-Call Letter Not Delivered, Reply Not Received in Time / Complete Assessment' and s1[8]!='D-Call Letter Delivered, Reply Not Received in Time / Complete Assessment'}" type="button" th:id="${iter.index+1}"
									class="btn btn-success" th:text="${s1[8]}" style="padding: 0px;"> 
						</button>
						<button th:if="${s1[8]=='View Query Reply / Complete Assessment'}" type="button" th:id="${iter.index+1}"
									class="btn btn-success" th:text="${s1[8]}" style="padding: 0px;"> 
						</button></i></div>
						</div>
					</td>

				</tr>
			</tbody>
		</table>	 -->	
				
				
		<table  th:unless="${session.data1=='PAC'}" class="table table-bordered mt-3" id="asstTable"
			style="font-size: 14px; text-align: center;">
			<thead>
				<tr class="thead-dark">
					<th scope="col">Sl.<br>No.</th>
						<th scope="col">Article ID / Item ID</th>
								<th scope="col">Posting Dt</th>
								<th scope="col">CIN</th>
								<th scope="col">CIN Dt</th>
								
								<th scope="col" id="noitem" >No. of Items</th>
								
								<th scope="col">Assessable Val(INR)</th>
								<th scope="col" >MailClass</th>
								<th scope="col">Item Category</th>
								<th scope="col" >Country</th>
					<th scope="col">In Assessment Queue</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s1,iter : ${check}">
					<td th:text="${iter.index+1}">1</td>
					<td th:text="${s1[1]}">464654654</td>
						<td th:text="${s1[3]}">464654654</td>
						<td th:text="${s1[0]}">5648912</td>
						<td th:text="${s1[2]}">5648912</td>
						<td th:text="${s1[5]}">01.01.2020</td>
						<td th:text="${s1[4]}">01.01.2020</td>						
						<td th:text="${s1[6]}"></td>
						<td nowrap th:text="${s1[7]}"></td>
						<td th:text="${s1[8]}"></td>
						
						
                   <!--  <td valign="middle">
						<div class="row" style="justify-content: center;">				         
						<div align="center" style="vertical-align:middle">
						<i aria-hidden="true" th:id="${s1[0]}"
							onclick="viewDetail(this);" th:checks="${s1[11]}">
							<button th:if="${s1[11]=='D-Call Letter Delivered, Reply Not Received in Time / Complete Assessment'}" type="button" th:id="${iter.index+1}" 
									class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;">div
						</button>
							<button th:if="${s1[11]=='D-Call Letter Not Delivered, Reply Not Received in Time / Complete Assessment'}" type="button" th:id="${iter.index+1}" 
									class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;"> div
						</button>
							<button th:if="${s1[11]!='View Query Reply / Complete Assessment' and s1[11]!='D-Call Letter Not Delivered, Reply Not Received in Time / Complete Assessment' and s1[11]!='D-Call Letter Delivered, Reply Not Received in Time / Complete Assessment' and s1[11]!='D-Call Letter Delivered, Reply Not Received in Time / Complete Assessment' and s1[11]!='From (First Query Without reply)' and s1[11]!='From (Additional Query Without reply)'}" type="button" th:id="${iter.index+1}"
									class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;"> div
						</button><button th:if="${s1[11]=='View Query Reply / Complete Assessment'}" type="button" th:id="${iter.index+1}"
									class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;"> div
						</button></i>
						
						<button th:if="${s1[11]!='View Query Reply / Complete Assessment' and s1[11]!='D-Call Letter Not Delivered, Reply Not Received in Time / Complete Assessment' and s1[11]!='D-Call Letter Delivered, Reply Not Received in Time / Complete Assessment' and s1[11]=='From (First Query Without reply)'}" type="button" onclick="viewquery(this);" th:id="${s1[0]}"  class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;">
                    div
                </button>
                <button th:if="${s1[11]!='View Query Reply / Complete Assessment' and s1[11]!='D-Call Letter Not Delivered, Reply Not Received in Time / Complete Assessment' and s1[11]!='D-Call Letter Delivered, Reply Not Received in Time / Complete Assessment' and s1[11]=='From (Additional Query Without reply)' }" type="button" onclick="viewquery(this);" th:id="${s1[0]}" class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;">
                    div
                </button>
						</div>
						</div>
						</td> -->
						 <td valign="middle">
						<div class="row" style="justify-content: center;">				         
						<div align="center" style="vertical-align:middle">
						<i aria-hidden="true" th:id="${s1[0]}"
							onclick="viewDetail(this);" th:checks="${s1[11]}">
							
							<button th:if="${s1[11]!='View Query Reply / Complete Assessment' and s1[11]!='From (D-Call Letter Not Delivered, First Query Reply Not Received in Time / Complete Assessment)' and s1[11]!='From (D-Call Letter Delivered, Additional Query Reply Not Received in Time / Complete Assessment)' 
							and s1[11]!='From (D-Call Letter Delivered, First Query Reply Not Received in Time / Complete Assessment)' and s1[11]!='From (D-Call Letter Not Delivered, Additional Query Reply Not Received in Time / Complete Assessment)'}" 
							type="button" th:id="${iter.index+1}"
									class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;"> 
						</button><button th:if="${s1[11]=='View Query Reply / Complete Assessment'}" type="button" th:id="${iter.index+1}"
									class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;"> 
						</button></i>
						
						<button th:if="${s1[11]=='From (D-Call Letter Delivered, First Query Reply Not Received in Time / Complete Assessment)' and s1[11]!='View Query Reply / Complete Assessment' }" type="button" onclick="viewquery(this);" th:id="${s1[0]}"  class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;">
                    
                </button>
                <button th:if="${s1[11]=='From (D-Call Letter Delivered, Additional Query Reply Not Received in Time / Complete Assessment)' and s1[11]!='View Query Reply / Complete Assessment' }" type="button" onclick="viewquery(this);" th:id="${s1[0]}" class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;">
                    
                </button>
                	<button th:if="${s1[11]=='From (D-Call Letter Not Delivered, First Query Reply Not Received in Time / Complete Assessment)' and s1[11]!='View Query Reply / Complete Assessment' }" type="button" onclick="viewquery(this);" th:id="${s1[0]}"  class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;">
                    
                </button>
                <button th:if="${s1[11]=='From (D-Call Letter Not Delivered, Additional Query Reply Not Received in Time / Complete Assessment)' and s1[11]!='View Query Reply / Complete Assessment' }" type="button" onclick="viewquery(this);" th:id="${s1[0]}" class="btn btn-success" th:text="${s1[11]}" style="padding: 0px;">
                    
                </button>
						</div>
						</div>
						</td>

				</tr>
			</tbody>
		</table>
	</div>
	
	
	<!-- BY PREM KUMAR -->
	
	<div class="hidden-menu mt-5" id="returnbyac "  style="display: none">
				
				
					<div align=center class="row gray_note"
						style="margin-left: 1%; margin-right: 1%;">
						<div class="col-md-6" align="left"
							style="color: white; font-size: 16px;">
							<STRONG>TOTAL ARTICLES IN THE AAF: <span
								class="numradius3" th:text="${aprCusite}" ></span>
							</STRONG></font>
						</div>
						<div align="center" class="col-md-2"></div>
						<div align="right" class="col-md-4">
							<STRONG><span
								style="color: white; font-size: 16px;">PAO-QUEUE-</span><font color="YELLOW">RETURNED
									BY AC</font> </STRONG>
						</div>
						<div class="col-md-12 mt-2"></div>
						<div class="col-md-2 bordstyle" align="center"
							style="margin-left: 4%; color: white; background: dimgray; font-size: 16px;">
							<button type="button" style="width: 100%;" id="btn11" onclick="showview(1,2)" th:disabled="${!#strings.contains(dispmailcat, 'U - Letters')}"
								class="buttonstyle">
								<STRONG> &nbsp;U - Letters : <span class="numradius1" th:text="${coultrapr}"
									></span></strong>
							</button>
						</div>
						<div class="col-md-2 bordstyle" align="center"
							style="margin-left: 1%; color: white; background: dimgray; font-size: 16px;">
							<button type="button" style="width: 100%;" id="btn12" onclick="showview(2,2)" th:disabled="${!#strings.contains(dispmailcat, 'E - EMS')}"
								class="buttonstyle">
								<strong> &nbsp;E - EMS : <span class="numradius1" th:text="${couemsapr}"
									></span></strong>
						</div>
						<div class="col-md-2 bordstyle" align="center"
							style="margin-left: 1%; color: white; background: dimgray; font-size: 16px;">
							<button type="button" style="width: 100%;" id="btn13" onclick="showview(3,2)" th:disabled="${!#strings.contains(dispmailcat, 'C - Parcels')}"
								class="buttonstyle">
								<strong> &nbsp;C - Parcels : <span class="numradius1" th:text="${couparapr}"
									></span></strong>
						</div>
						<div class="col-md-2 bordstyle" align="center"
							style="margin-left: 1%; color: white; background: dimgray; font-size: 16px;">
							<button type="button" style="width: 100%;" id="btn14" onclick="showview(4,2)" th:disabled="${!#strings.contains(dispmailcat, 'T - Emp. Receptacles')}"
								class="buttonstyle">
								<strong> &nbsp;T - Emp.Recp.: <span class="numradius1" th:text="${couempapr}"
									></span></strong>
						</div>
						<div class="col-md-2 bordstyle" align="center"
							style="margin-left: 1%; color: white; background: dimgray; font-size: 16px;">
							<button type="button" style="width: 100%;" id="btn15" onclick="showview(5,2)"
								class="buttonstyle">
								<strong> &nbsp;ALL: <span class="numradius1" th:text="${aprCusite}"
									></span></strong>
						</div>
					</div>
					<!-- <div align="right" style="margin-bottom: -32px;">
						<button type="button" class="btn btn-info" id="clear11"
							onclick="refreshPage(10)">Clear</button>
					</div> -->
					<div id="aprview" style="display: none;">
						<table id="aprviewtab" class="table table-bordered mt-3"  
							style="font-size: 14px; text-align: center;">
							<thead>
								<tr class="thead-dark">
								<th scope="col" width="1%">No</th>
								<th scope="col" width="15%">Article ID / Item ID</th>
								<th scope="col" width="1%">Posting Dt</th>
								<th scope="col" width="11%">CIN</th>
								<th scope="col" width="10%">CIN Dt</th>
								
								<th scope="col" width="1%">MailClass</th>
								<th scope="col" width="35%">Item Category</th>
								<th scope="col" width="1%">COO</th>
								<th scope="col" width="25%">Action</th>
								</tr>
							</thead>
							<tbody>
							
							
								<tr
									th:each="s1,iter : ${APRview}">
							<td  width="1%" style="vertical-align: middle;" th:text="${iter.index+1}"></td>
								<td width="15%" th:text="${s1[3]}"></td>
								<td width="1%" th:text="${s1[2]}"></td>
								<td  width="11%" th:text="${s1[0]}"></td>
								<td width="10%" th:text="${s1[1]}"></td>
								
								<td width="1%" th:text="${s1[5]}"></td>
								<td width="35%" th:text="${s1[6]}"></td>
								<td width="1%" th:text="${s1[4]}"></td>
		                        <td width="25%" align="center"><i aria-hidden="true" th:id="${s1[0]}"
									onclick="viewDetail(this);">
											<button th:id="${iter.index+1}" type="button" 
												class="btn btn-success" style="padding: 0px;"><span th:text="${s1[7]}"></span></button>
									</i></td>							</tr>
							</tbody>
						</table>
					</div>
					
					<div id="aprltrview" style="display: none;">
						<table id="aprltrviewtab" class="table table-bordered mt-3"
							style="font-size: 14px; text-align: center;">
							<thead class="thead-dark">
								<tr>
								<th scope="col" width="1%">No</th>
								<th scope="col" width="15%">Article ID / Item ID</th>
								<th scope="col" width="1%">Posting Dt</th>
								<th scope="col" width="11%">CIN</th>
								<th scope="col" width="10%">CIN Dt</th>
								
								<th scope="col" width="1%">MailClass</th>
								<th scope="col" width="35%">Item Category</th>
								<th scope="col" width="1%">COO</th>
								<th scope="col" width="25%">Action</th>
								</tr>
							</thead>
							<tbody>
							
							
								<tr valign="middle" class="rowDis"
									th:each="s1,iter : ${APRltrview}">
							<td  width="1%" style="vertical-align: middle;" th:text="${iter.index+1}"></td>
								<td width="15%" th:text="${s1[3]}"></td>
								<td width="1%" th:text="${s1[2]}"></td>
								<td  width="11%" th:text="${s1[0]}"></td>
								<td width="10%" th:text="${s1[1]}"></td>
								
								<td width="1%" th:text="${s1[5]}"></td>
								<td width="35%" th:text="${s1[6]}"></td>
								<td width="1%" th:text="${s1[4]}"></td>
		                        <td width="25%" align="center"><i aria-hidden="true" th:id="${s1[0]}"
									onclick="viewDetail(this);">
											<button th:id="${iter.index+1}" type="button" 
												class="btn btn-success"  style="padding: 0px;"><span th:text="${s1[7]}"></span></button>
									</i></td>							</tr>
							</tbody>
						</table>
					</div>
					
							<div id="apremsview" style="display: none;">
						<table id="apremsviewtab" class="table table-bordered mt-3"
							style="font-size: 14px; text-align: center;">
							<thead class="thead-dark">
								<tr>
								<th scope="col" width="1%">No</th>
								<th scope="col" width="15%">Article ID / Item ID</th>
								<th scope="col" width="1%">Posting Dt</th>
								<th scope="col" width="11%">CIN</th>
								<th scope="col" width="10%">CIN Dt</th>
								
								<th scope="col" width="1%">MailClass</th>
								<th scope="col" width="35%">Item Category</th>
								<th scope="col" width="1%">COO</th>
								<th scope="col" width="25%">Action</th>
								</tr>
							</thead>
							<tbody>
							
							
								<tr valign="middle" class="rowDis"
									th:each="s1,iter : ${APRemsview}">
							<td  width="1%" style="vertical-align: middle;" th:text="${iter.index+1}"></td>
								<td width="15%" th:text="${s1[3]}"></td>
								<td width="1%" th:text="${s1[2]}"></td>
								<td  width="11%" th:text="${s1[0]}"></td>
								<td width="10%" th:text="${s1[1]}"></td>
								
								<td width="1%" th:text="${s1[5]}"></td>
								<td width="35%" th:text="${s1[6]}"></td>
								<td width="1%" th:text="${s1[4]}"></td>
		                        <td width="25%" align="center"><i aria-hidden="true" th:id="${s1[0]}"
									onclick="viewDetail(this);">
											<button th:id="${iter.index+1}" type="button" 
												class="btn btn-success"  style="padding: 0px;"><span th:text="${s1[7]}"></span></button>
									</i></td>							</tr>
							</tbody>
						</table>
					</div>
					
					
							<div id="aprparview" style="display: none;">
						<table id="aprparviewtab" class="table table-bordered mt-3"
							style="font-size: 14px; text-align: center;">
							<thead class="thead-dark">
								<tr>
								<th scope="col" width="1%">No</th>
								<th scope="col" width="15%">Article ID / Item ID</th>
								<th scope="col" width="1%">Posting Dt</th>
								<th scope="col" width="11%">CIN</th>
								<th scope="col" width="10%">CIN Dt</th>
								
								<th scope="col" width="1%">MailClass</th>
								<th scope="col" width="35%">Item Category</th>
								<th scope="col" width="1%">COO</th>
								<th scope="col" width="25%">Action</th>
								</tr>
							</thead>
							<tbody>
							
							
								<tr valign="middle" class="rowDis"
									th:each="s1,iter : ${APRparview}">
							<td  width="1%" style="vertical-align: middle;" th:text="${iter.index+1}"></td>
								<td width="15%" th:text="${s1[3]}"></td>
								<td width="1%" th:text="${s1[2]}"></td>
								<td  width="11%" th:text="${s1[0]}"></td>
								<td width="10%" th:text="${s1[1]}"></td>
								
								<td width="1%" th:text="${s1[5]}"></td>
								<td width="35%" th:text="${s1[6]}"></td>
								<td width="1%" th:text="${s1[4]}"></td>
		                        <td width="25%" align="center"><i aria-hidden="true" th:id="${s1[0]}"
									onclick="viewDetail(this);">
											<button th:id="${iter.index+1}" type="button" 
												class="btn btn-success"  style="padding: 0px;"><span th:text="${s1[7]}"></span></button>
									</i></td>							</tr>
							</tbody>
						</table>
					</div>
					
							<div id="aprempview" style="display: none;">
						<table id="aprempviewtab" class="table table-bordered mt-3"
							style="font-size: 14px; text-align: center;">
							<thead class="thead-dark">
								<tr>
								<th scope="col" width="1%">No</th>
								<th scope="col" width="15%">Article ID / Item ID</th>
								<th scope="col" width="1%">Posting Dt</th>
								<th scope="col" width="11%">CIN</th>
								<th scope="col" width="10%">CIN Dt</th>
								
								<th scope="col" width="1%">MailClass</th>
								<th scope="col" width="35%">Item Category</th>
								<th scope="col" width="1%">COO</th>
								<th scope="col" width="25%">Action</th>
								</tr>
							</thead>
							<tbody>
							
							
								<tr valign="middle" class="rowDis"
									th:each="s1,iter : ${APRempview}">
							<td  width="1%" style="vertical-align: middle;" th:text="${iter.index+1}"></td>
								<td width="15%" th:text="${s1[3]}"></td>
								<td width="1%" th:text="${s1[2]}"></td>
								<td  width="11%" th:text="${s1[0]}"></td>
								<td width="10%" th:text="${s1[1]}"></td>
								
								<td width="1%" th:text="${s1[5]}"></td>
								<td width="35%" th:text="${s1[6]}"></td>
								<td width="1%" th:text="${s1[4]}"></td>
		                        <td width="25%" align="center"><i aria-hidden="true" th:id="${s1[0]}"
									onclick="viewDetail(this);">
											<button th:id="${iter.index+1}" type="button" 
												class="btn btn-success"  style="padding: 0px;"><span th:text="${s1[7]}"></span></button>
									</i></td>							</tr>
							</tbody>
						</table>
					</div>
					
					
			</div>		
			
	</div>
	
	<div id="logout" class="modal fade"   tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 450px;">
	<div class="modal-content">
	  <div class="modal-body" align="center" >
		<h4><font color="black">Are you sure to logout</h4>
	  </div>
	 <div class="modal-footer">
     <div class="row mt-1"></div>
					<div class="col-md-6" align="left">
				    <button type="button" class="btn btn-danger" style="background-color:red"
						data-dismiss="modal">No</button></div>
					<div class="col-md-6" align="right">
					<button type="button" class="btn btn-success"  style="background-color:green"
						onclick="logconfirm();">Yes</button></div>	</div>
    </div>
</div>
</div>
		<div id="qryreplymodal" class="modal fade" tabindex="-1" style="overflow-y: auto;" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog" role="document" style="max-width: 95%;">
  				<div class="modal-content">
  				<div class="modal-header" style="padding-top: 5px;padding-bottom: 5px;background: #f4f9ff;">
        			<h5 class="modal-title" style="font-weight: bold;">QUERY REPLY</h5>
        				<button type="button" class="close" data-dismiss="modal" onclick="removeContent()" aria-label="Close">
          					<span aria-hidden="true">x</span>
        				</button>
      				</div>
  					<div class="modal-body" id="qryreplycontent" style="background: #b8daff;">
	  				</div>
    			</div>
			</div>
		</div>	
		
		<input type="hidden" id="cinno">
		<div id="assediPopup" class="modal fade"   tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 450px;">
	<div class="modal-content">
	  <div class="modal-body" align="center" >
		<h4><font color="black">Send to</h4>
	  </div>
	 <div class="modal-footer">
     <div class="row mt-1"></div>
					<div class="col-md-6" align="left">
				    <button type="button" class="btn btn-success" id="edique" style="background-color:green"
						onclick="movedi(this);">EDI Queue</button>
						<button type="button" class="btn btn-success" id="exmque"  style="background-color:green"
						onclick="movexm(this);">Exam Queue</button></div>
					<div class="col-md-6" align="right">
					<button type="button" class="btn btn-success"  style="background-color:green"
						onclick="movass(this);">Process Personal Imports </button></div>	</div>
    </div>
</div>
</div>
<Modal>
<div id="chngrlpopup" class="modal fade"   tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 450px;">
	<div class="modal-content">
	  <div class="modal-body" align="center" >
	<h4><font color="black" size="5">Are you sure to Change the Role? </font><br><font color="black" size="3">(Please complete the transaction tasks you are working upon currently, if any, before changing the role)</font></h4>
	  </div>
	 <div class="modal-footer">
     <div class="row mt-1"></div>
					<div class="col-md-6" align="left">
				    <button type="button" class="btn btn-danger" style="background-color:red"
						data-dismiss="modal">No</button></div>
					<div class="col-md-6" align="right">
					<button type="button" class="btn btn-success"  style="background-color:green"
						onclick="chngrole();">Yes</button></div>	</div>
    </div>
    
</div>
</div>

</Modal>
<div id="qryreplymodal" class="modal fade" tabindex="-1" style="overflow-y: auto;" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  			<div class="modal-dialog" role="document" style="max-width: 95%;">
  				<div class="modal-content">
  				<div class="modal-header" style="padding-top: 5px;padding-bottom: 5px;background: #f4f9ff;">
        			<h5 class="modal-title" style="font-weight: bold;">QUERY REPLY</h5>
        				<button type="button" class="close" data-dismiss="modal" onclick="$('#qryreplycontent').html('')" aria-label="Close">
          					<span aria-hidden="true">x</span>
        				</button>
      				</div>
  					<div class="modal-body" id="qryreplycontent" style="background: #b8daff;">
	  				</div>
    			</div>
			</div>
		</div>	
		
	
<div id="recassPopup" class="modal fade"   tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 50%;">
	<div class="modal-content">
	  <div class="modal-body" align="center" >
		<h4><font color="black">Proceed to</h4>
	  </div>
	 <div class="modal-footer">
     <div class="row mt-1"></div>
					<div class="col-md-6" align="left">
				    <button type="button" class="btn btn-success"  id="replyFor" style="background-color:green"
						onclick="recqryreply(this);">Record Reply Received via post and Upload document by officer </button></div>
					<div class="col-md-6" align="right">
					<button type="button" class="btn btn-success"  style="background-color:green"
						onclick="movass(this);"> Assessment as no reply received </button></div>	</div>
    </div>
</div>
</div>
</body>

<script src="js/import_list.js"></script>
<script src="js/header.js"></script>
<script type="text/javascript">
	//$(document).ready(function() {
		$("#asstTable").dataTable({
			"processing" : true,
			"paging" : true,
			 //"dom": 'Bfrtip',
			//buttons: ['excel']
			"dom": '<"pull-left"Bl>frtip',
			buttons: [{extend: "csv", text: '<i>EXCEL</i>',
				   className: 'btn btn-primary mb-3',
				   title:'FPO IMPORT APPLICATION - ICES',
					filename:' Postal Imports - Articles Arrived at FPO (AAF) ',
					message:' Postal Imports - Articles Arrived at FPO (AAF)@ ' + sitecode + '\n\r' + datetime, 
					//customize: function (doc) {}
					},
				//pdf
    			  {extend: 'pdf',
				    text:'<i>PDF</i>',
				    pageSize: 'A4',
					//watermark:'fpo',
                    className: ' btn btn-success mb-3 ',				
				    orientation: 'landscape',
				    
		   		    customize: function(doc, header) {
		   		    // doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
		   		    doc.content[1].table.widths = ['3%','10%','9%','11%','9%','8%','9%','9%','10%','9%','13%'];
				   	 doc.defaultStyle.alignment = 'center'
					 //doc.styles.tableHeader.fillColor='#ADD8E6',
					 doc.styles.tableHeader = {
        						color: '#2D1D10',
								fillColor:'#ADD8E6',
        						fontSize: '10',
        						alignment: 'center'
    						},
					doc.content.splice(1, 0,{
					text: [{text:' Date:'+ datetime, bold: true,
					alignment: 'right',
					fontSize: 7,
					margin:[0,20,0,20],
					//watermark:'fpo', 
					},],});
					doc.content.splice(1, 0,{
          			text: [{text:' SSO ID: ' + empid, bold: true,
					alignment: 'left',
					fontSize: 7,
					margin:[0,0,90,20],
					//watermark:'fpo', 
					},],}); 
					//doc.style.tableHeader		
					doc.defaultStyle.fontSize = 5;
					doc.styles.title.bold=true;
					doc.styles.title.fontSize=15;
					doc.styles.title.alignment="center",
					doc.styles.message.fontSize = 9;
					doc.styles.message.bold=true;
					//doc.styles.message.alignment = "right";
					doc.styles.tableHeader.fontSize= 5
					doc.styles.tableHeader.bold=true;
					doc['footer']=(function(page, pages) {
							return {
								columns: ['',{
								alignment: 'right',
										text: ['Page  ',{ text: page.toString(), italics: true,fontSize:7},'  of ',
											{ text: pages.toString(), italics: true,fontSize:6 }],italics: true, fontSize:6  }],
										margin: [15, 0]}});
    		        },
			title: 'FPO IMPORT APPLICATION - ICES'+
							'\n\r'+'Postal Imports - Articles Arrived at FPO (AAF) @ ' + sitecode,
           			//message: empid,
					//message:datetime, 
					filename:'Postal Imports - Articles Arrived at FPO (AAF) ',

     },
			//Print
		         {extend: "print" ,
				  className: 'btn btn-danger mb-3',
				  title: 'FPO IMPORT APPLICATION - ICES',
			      text: '<i>PRINT</i>',
				  message:' Postal Imports - Articles Arrived at FPO (AAF) @ ' + sitecode + '\n\r' + datetime ,
					filename:'Postal Imports - Articles Arrived at FPO',
					customize: function ( win ) {
						$(win.document.body).css( 'font-size', '8pt' )
						$(win.document.body).find( 'table' ).css( 'font-size', 'inherit' );
						},}],
			
			       "initComplete": function( settings ) {
	        $("#asstTable_filter").append('<button type="button" class="btn btn-info" id="clear" onclick="clearAsstTable()" '+
			'style="margin-left: 15px;margin-bottom: 5px;">Clear</button>');
		$("#asstTable_filter input[type='search']").attr('id', 'searchAsstTable');
    	}
			
			
			
		});
//	});

$("#asstTableacl").dataTable({
			"processing" : true,
			"paging" : true,
			 //"dom": 'Bfrtip',
			//buttons: ['excel']
			"dom": '<"pull-left"Bl>frtip',
			buttons: [{extend: "csv", text: '<i>EXCEL</i>',
				   className: 'btn btn-primary mb-3',
				   title:'FPO IMPORT APPLICATION - ICES',
					filename:' Postal Imports - Articles Arrived at FPO (AAF) ',
					message:' Postal Imports - Articles Arrived at FPO (AAF)@ ' + sitecode + '\n\r' + datetime, 
					//customize: function (doc) {}
					},
				//pdf
    			  {extend: 'pdf',
				    text:'<i>PDF</i>',
				    pageSize: 'A4',
					//watermark:'fpo',
                    className: ' btn btn-success mb-3 ',				
				    orientation: 'landscape',
				    
		   		    customize: function(doc, header) {
		   		    // doc.content[1].table.widths = Array(doc.content[1].table.body[0].length + 1).join('*').split('');
		   		    doc.content[1].table.widths = ['3%','10%','9%','11%','9%','8%','9%','9%','10%','9%','13%'];
				   	 doc.defaultStyle.alignment = 'center'
					 //doc.styles.tableHeader.fillColor='#ADD8E6',
					 doc.styles.tableHeader = {
        						color: '#2D1D10',
								fillColor:'#ADD8E6',
        						fontSize: '10',
        						alignment: 'center'
    						},
					doc.content.splice(1, 0,{
					text: [{text:' Date:'+ datetime, bold: true,
					alignment: 'right',
					fontSize: 7,
					margin:[0,20,0,20],
					//watermark:'fpo', 
					},],});
					doc.content.splice(1, 0,{
          			text: [{text:' SSO ID: ' + empid, bold: true,
					alignment: 'left',
					fontSize: 7,
					margin:[0,0,90,20],
					//watermark:'fpo', 
					},],}); 
					//doc.style.tableHeader		
					doc.defaultStyle.fontSize = 5;
					doc.styles.title.bold=true;
					doc.styles.title.fontSize=15;
					doc.styles.title.alignment="center",
					doc.styles.message.fontSize = 9;
					doc.styles.message.bold=true;
					//doc.styles.message.alignment = "right";
					doc.styles.tableHeader.fontSize= 5
					doc.styles.tableHeader.bold=true;
					doc['footer']=(function(page, pages) {
							return {
								columns: ['',{
								alignment: 'right',
										text: ['Page  ',{ text: page.toString(), italics: true,fontSize:7},'  of ',
											{ text: pages.toString(), italics: true,fontSize:6 }],italics: true, fontSize:6  }],
										margin: [15, 0]}});
    		        },
			title: 'FPO IMPORT APPLICATION - ICES'+
							'\n\r'+'Postal Imports - Articles Arrived at FPO (AAF) @ ' + sitecode,
           			//message: empid,
					//message:datetime, 
					filename:'Postal Imports - Articles Arrived at FPO (AAF) ',

     },
			//Print
		         {extend: "print" ,
				  className: 'btn btn-danger mb-3',
				  title: 'FPO IMPORT APPLICATION - ICES',
			      text: '<i>PRINT</i>',
				  message:' Postal Imports - Articles Arrived at FPO (AAF) @ ' + sitecode + '\n\r' + datetime ,
					filename:'Postal Imports - Articles Arrived at FPO',
					customize: function ( win ) {
						$(win.document.body).css( 'font-size', '8pt' )
						$(win.document.body).find( 'table' ).css( 'font-size', 'inherit' );
						},}],
			
		"initComplete": function(settings) {
  $("#asstTableacl_filter").append('<button type="button" class="btn btn-info" id="clearing" ' +
    'style="margin-left: 15px;margin-bottom: 5px;">Clear</button>');
  $("#asstTableacl_filter input[type='search']").attr('id', 'searchasstTableacl');
  
  $('#asstTableacl_filter').on('click', '#clearing', function() {
    var table = $('#asstTableacl').DataTable();
    table.search('').draw();
    $("#searchasstTableacl").val(""); // Clear the search input field
  });
}
			
			
			
		});
		

			$("#aprviewtab").dataTable({
			"processing" : true,
			"paging" : true,
			 //"dom": 'Bfrtip',
			//buttons: ['excel']
			"dom": '<"pull-left"l>frtip',
		
			});
		
		$("#aprltrviewtab").dataTable({
			"processing" : true,
			"paging" : true,
			 //"dom": 'Bfrtip',
			//buttons: ['excel']
			"dom": '<"pull-left"l>frtip',
		
			});
			$("#apremsviewtab").dataTable({
			"processing" : true,
			"paging" : true,
			 //"dom": 'Bfrtip',
			//buttons: ['excel']
			"dom": '<"pull-left"l>frtip',
		
			});
			$("#aprparviewtab").dataTable({
			"processing" : true,
			"paging" : true,
			 //"dom": 'Bfrtip',
			//buttons: ['excel']
			"dom": '<"pull-left"l>frtip',
		
			});
			$("#aprempviewtab").dataTable({
			"processing" : true,
			"paging" : true,
			 //"dom": 'Bfrtip',
			//buttons: ['excel']
			"dom": '<"pull-left"l>frtip',
		
			});







function exceldownloadimportlist(obj){
	$(".buttons-excel").trigger('click');
}

function clearAsstTable(){
    document.getElementById("searchAsstTable").value=""
    var table = $('#asstTable').DataTable();
    table.search('').draw();
 }


function pdfdownloadimportlist(obj) {
	var oMyForm = new FormData();
	jQuery.ajax({
		url: 'pdfdwnld_imprtlist',
		global: false,
		data: oMyForm,
		dataType: 'text',
		processData: false,
		contentType: false,
		type: 'POST',

		success: function(response) {
			console.log('inside success');
			
			 $("#staticreportdownloadanchortag").attr("href", "downloadPdfFile?filename=" + response);

            document.getElementById("staticreportdownloadanchortag").click();

		}
	});
	
	}
	
	//function viewDetail(e) {
		//alert(e.id);
		//window.location.href ="import_main?id=" + e.id;
		//window.location.href = "#" + e.id;
	//}

	$("table tbody tr").each(
			function() {
				var textval = $(this).find("td:eq(0)").text().trim();
				//	var textval2 = $(this).find("td:eq(1)").text().trim();
				if (textval > 1) {
				//	$('#' + textval).prop('disabled', true);
					$('#'+ $(this).find("td:eq(1)").text().trim()).removeAttr("onclick");
					if($(this).find("td:eq(7)").text().trim()=='View Query Replied / Complete Assessment' || $(this).find("td:eq(7)").text().trim()=='View Additional Query Replied / Complete Assessment'){
					//	$('#' + textval).prop('disabled', false);
						$('#'+ $(this).find("td:eq(1)").text().trim()).attr("onclick","viewDetail(this)");
					}
					//$(this).find("td:eq(0)").attr('disabled', true);
				} else {
					$("tr.rowDis input, tr.rowDis select, tr.rowDis textarea")
							.prop('disabled', true);
					//$('#submitBtn').prop('disabled', false);
				}
			});
</script>

</html>