<!DOCTYPE html>
<html>

<head lang="en" th:replace="header :: header"></head>
<meta charset="ISO-8859-1">
</head>

<style type="text/css">
.buttons-excel{
display: none;
}

#overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 9999;
  width: 100%;
  background: rgba(255, 255, 255, .7);
  height: 100%;
        }
#loader {
  position: fixed;
  display: block;
  left: 50%;
  top: 48%;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-image: url(images/report/loader.gif);
  background-repeat: no-repeat;
  margin: -77px 0 0 -75px;
   }
 
</style>

<body>
<div id="overlay" style="display: none;">
        <div id="loader">
        <div style="font-size: 20px; padding-top:6%"><b>Please wait...</b>
</div>   </div> </div>
<div align=left style="margin-left: 1%; margin-right: 1%">
			<button type="button" class="btn btn-info" onclick="goback()" style="line-height: 16px;background-color: darkred;border-color: darkred;">Back
			</button>
		</div>
	<h3 style="font-size: 19px; margin-left: 2%;">Dashboard> Site
		Management> View Users of FPO Site> View Users History</h3>
	<h3 style="text-align: center; color: #1616e0;">NATIONAL SYSTEM
		ADMINISTRATOR</h3>
	<h4
		style="text-align: center; margin-top: 1%; font-family: times new roman;background: deepskyblue;">List of Local System Administrator(PLAs) User History Of FPO Site</h4>

	<div class="form-group row"
		style="margin-top: 1%; justify-content: center;padding-right: 2%;">
		<label class="control-label" for="SiteCode"
			style="font-weight: 600; padding-right: 20px;padding-top:8px;">PLA Users of Active FPO Site:</label>
		<div class=" dropdown">
			<select class="form-control selsite" style="width: 250px;">
				<option>--Select Active Sites--</option>
				<option>All Sites</option>
				<div th:each="siteactve,iter : ${activelst}">
					<option th:value="${siteactve[1]}" th:text="${siteactve[0]}"
						id="userstecde"></option>
				</div>
			</select>
		</div>
	</div>
	<br>
	<div id="pdf&excelExport" style="display : none">
	 <div class="col-md-12 row">
  <div class="col-md-1" ></div>
	<div class="col-md-1">
				<div class="Export-options">						
					<a style="display: none;" class="download-Docs" href="#" id="staticreportdownloadanchortag" download=""></a>
				</div> 
	<a id="PDFExport" onclick="pdfdownload(this)" title="PDF">
				<button class="btn btn-primary mb-3" style="font-size:15px">Download PDF <i class="fa fa-file-pdf-o"></i></button>
				</a></div>
				<div class="col-md-1">
	<a id="ExportExcel" onclick="exceldownload(this)" title="PDF">
				<button class="btn btn-success mb-3" style="font-size:15px">Export Excel <i class="fa fa-file-excel-o"></i></button>
				</a></div></div></div>
				
	<div id="activeusers"
		style=" padding-left: 5%; padding-right: 5%; display: none">
		<table id="ViewuserHstrySite" class="table table-bordered table-sm"
			style="font-size: 14px; text-align: center;">
			<thead>
				<tr style="background-color: #63cfe0">
					<th scope="col" style="width:1% !important;">SI.No</th>
					<th scope="col">FPO SITE NAME</th>
					<th scope="col">SITE CODE</th>
					<th scope="col">SSOID</th>
					<th scope="col">NAME</th>
					<th scope="col">ROLES</th>
					<th scope="col">START-DATE</th>
					<th scope="col">END-DATE</th>
				</tr>
			</thead>
			<tbody id="viewactveuser">
			</tbody>
		</table>
		<!-- <button type="button" id="viewuserhstry" class="btn btn-success" style="margin-left: 86%" >View History</button>  -->
	</div>
	<br>

</body>

<script src="js/viewuserhstry.js"></script>
<script>
function goback() {
     window.location = "viewusers";
     
     }
     </script>
</html>