 <!DOCTYPE html>
<html>

<head lang="en" th:replace="header :: header"></head>
<head>
<meta charset="ISO-8859-1">
<title>View page</title>
 
<style type="text/css">
.button-size {
	width: 23%;
}
#overlay {
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 9999;
  width: 100%;
  background: rgba(255, 255, 255, .7);
  height: 100%;
        }
#loader {
  position: fixed;
  display: block;
  left: 50%;
  top: 48%;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-image: url(images/report/loader.gif);
  background-repeat: no-repeat;
  margin: -77px 0 0 -75px;
   }

</style>
</head>
<body>
<div id="overlay" style="display: none;">
        <div id="loader">
        <div style="font-size: 20px; padding-top:5%"><b>Please wait...</b>
</div>   </div> </div>
<h3 style ="margin-left: 25px;">Dashboard> Site Management>Activate FPO Site</h3>
<h3 style="text-align : center; color: #1616e0">NATIONAL SYSTEM ADMINISTRATOR (PNA)</h3>
	<div class="container" style="margin-top: 12px;">
		<table id = "mytable" class="table table-bordered  asstTable mt-4"
			style="font-size: 14px; text-align: center;">

			<thead>
				<tr>
					<th scope="col">Sl.No.</th>
					<th scope="col">FPO Site Name</th>
					<th scope="col">Site Code</th>
					<th scope="col">State</th>
					<th scope="col">Action</th>

				</tr>
			</thead>
			<tbody>
				<tr valign="middle" class="rowDis"
					th:each="FpoSite,iter : ${siteList}">
					<td style="vertical-align: middle;" th:text="${iter.index+1}"></td>
					<td th:text="${FpoSite[0]}"></td>
					<td th:text="${FpoSite[1]}"></td>
					<td th:text="${FpoSite[2]}"></td>
					<td class="sites">
					<a id="siteActive" class="btn btn-success button-size" th:attr="onclick=|activeDialog('${FpoSite[1]}' + 'active')|" > Active </a>
						 
					</td>
				</tr>
			</tbody>
		</table>
	</div>


<!-- 	Active Modal -->
	<div class="modal fade" id="myModalActive" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Do you want to Activate this Fpo Site?</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					
						<div class="form-group">
							<label for="message-text" class="col-form-label">Record reason:</label>
							<textarea  id="recordMsg" onkeyup="EnableDisable(this)"  class="form-control"></textarea >
						</div>
				
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger"
						data-dismiss="modal">Close</button>
				<button id ="activeSite" type="submit" class="btn btn-success"
						>Active Site</button>
				</div>
			</div>
		</div>
	</div>
	
</body>

<script th:src="@{js/addingSite.js}"></script>
<script th:src="@{js/datatables.min.js}"></script>

<script type="text/javascript">


</script>
</html>