<!DOCTYPE html>
<html>
<!--head lang="en" th:replace="admin/nsm/nsmHeader :: header"-->
<head lang="en" th:replace="header :: header"></head>
<meta charset="ISO-8859-1">
</head>
<style type="text/css">
.button-size {
	width: 23%;
}

.stsclr{
 background-color: #fff;
}

.buttons-excel{
display: none;
}
#overlay {
   position: fixed;
   left: 0%;
   top: 0%;
   z-index: 9999;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    height: 100%;
        }
  #loader {
    position: fixed;
    display: block;
     left: 50%;
     top: 48%;
     z-index: 9999;
     width: 100%;
      height: 100%;
      background-image: url(images/report/loader.gif);
     background-repeat: no-repeat;
     margin: -77px 0 0 -75px;
        }
        
          .pdfview1{
	background-color: transparent;
	}

</style>

<body>
<input type="hidden" th:value="${session.data}" id="empId" /> 
<input type="hidden" th:value="${session.data2}" id="sitecode" />
<input type="hidden" th:value="${session.data1}" id="role" />
<div id="overlay" style="display: none;">
        <div id="loader">
        <div style="font-size: 20px; padding-top:5%"><b>Please wait...</b>
</div>   </div> </div>

 <div align=left style="margin-left: 1%; margin-right: 1%">
<button type="button" class="btn btn-info" onclick="goback()" style="line-height: 16px;background-color: darkred;border-color: darkred;">Back
			</button>
		</div>

<h3 style ="font-size: 19px; margin-left: 2%;">Dashboard> User Management> Current Local System Administrator (PLA)</h3>
 <h3 style="text-align: center; margin-top: 0px; color: #1616e0">NATIONAL SYSTEM ADMINISTRATOR (PNA)</h3>
<h4 style="text-align: center; margin-top: 1%; font-family: times new roman;background: deepskyblue;">List Of Current Local System Administrator (PLA)</h4><br><h6 align=center>Add, Edit, Remove and View History - Local System Administrators (PLAs) across FPO Sites</h6>

<!-- <div class="col-md-12 row">
  	<div class="col-md-1"></div>
	<div class="col-md-1">
				<div class="Export-options">						
					<a style="display: none;" class="download-Docs" href="#" id="staticreportdownloadanchortag" download=""></a>
				</div> 
	<a id="PDFExport" onclick="pdfdownload(this)" title="PDF">
				<button class="btn btn-primary mb-3" style="font-size:15px">Download PDF  <i class="fa fa-file-pdf-o"></i></button>
				</a></div>
				<div class="col-md-1">
	<a id="ExportExcel" onclick="exceldownload(this)" title="PDF">
				<button class="btn btn-success mb-3" style="font-size:15px">Export Excel <i class="fa fa-file-excel-o"></i></button>
				</a></div></div> -->
				
	<div style="padding-left: 4%;
    padding-right: 4%">
		<table id= "crtLsmtable"  class="table table-bordered table-striped table-bordered"
			style="font-size: 14px; text-align: center;">
			 <thead>
				<tr style="background-color: #63cfe0">
					<th scope="col" width=10px>Sl.No.</th>
					<th scope="col">FPO SITE NAME</th>
					<th scope="col">SITE CODE</th>
					<th scope="col">STATE</th>
					<th scope="col">NAME</th>
					<th scope="col">SSOID</th>
					<th scope="col">DESIGNATION</th>
					<th scope="col">EMAIL-ID</th>
					<th scope="col">MOBILE-NO</th>
					<th scope="col">DATE</th>
					<th scope="col">TIME</th>
					<th scope="col">DOCUMENT NAME</th>
					<th scope="col">VIEW DOCUMENT</th>
				</tr>
			</thead> 
			<tbody>
			<tr height=50px; valign="middle" class="rowDis"
					th:each="getLsmdata,iter : ${Lsmdata}">
					<td style="vertical-align: middle;" th:text="${iter.index+1}"></td>
					<td style="vertical-align: middle;"th:text="${getLsmdata[0]}"></td>
					<td style="vertical-align: middle;" id="getsitecde" th:text="${getLsmdata[1]}"></td>
					<td style="vertical-align: middle;"th:text="${getLsmdata[2]}"></td>
					<td style="vertical-align: middle;"th:text="${getLsmdata[3]}"></td>
					<td style="vertical-align: middle;" th:text="${getLsmdata[4]}"></td>
					<td style="vertical-align: middle;"th:text="${getLsmdata[5]}"></td>
					<td style="vertical-align: middle;"th:text="${getLsmdata[6]}"></td>
					<td style="vertical-align: middle;"th:text="${getLsmdata[7]}"></td>
					<td style="vertical-align: middle;"th:text="${getLsmdata[8]}"></td>
					<td style="vertical-align: middle;"th:text="${getLsmdata[9]}"></td>
					<td style="vertical-align: middle;"th:text="${getLsmdata[10]}"></td>
					<td style="vertical-align: middle;"><button class="pdfview1" style="border:none" th:id="${iter.index+1}"  onclick="viewFilePdf(this)"><svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16"><path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/><path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/></svg></button> </td>
				</tr>
			</tbody> 
		</table>
	</div>
	<br>
	<div>
		<button type="button" id="addLsm" class="btn btn-success"
			 style="margin-left: 70%">Add PLA
		</button>
		<!--button type="button" id="editLsm" class="btn btn-success"
			 style="margin-left: 1%">Edit PLA
		</button-->
		<button type="button" id="viewLsm" class="btn btn-success"
			 style="margin-left: 1%">View PLA
		</button>	
		<button type="button" id="removeLsm" class="btn btn-success"
			 style="margin-left: 1%">Remove PLA
		</button>
		<button type="button" id="histryLSM" class="btn btn-success"
			 style="margin-left: 1%">History PLA
		</button>
	</div>
<br>

<div class="modal fade" id="lsmmodel" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered"
			style="width: auto; height: auto; max-width: 90%;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Uploaded PLA Supporting Document</h4>
					<button type="button" class="close rlyqueryinfobtncancel"
						data-dismiss="modal" onclick= "refresh()" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<iframe id="lsmpdfpath" frameborder="0" width="100%"
						style="height: 88vh;"></iframe>
				</div>
				<div class="modal-footer">
                 <button type="button" id="rlyqueryinfobtncancel"
                 class="btn btn-secondary rlyqueryinfobtncancel"
                 data-dismiss="modal" onclick= "refresh()">Cancel</button>
               </div>


			</div>
		</div>
	</div>


	  <div class="modal fade bd-example-modal-lg" id="zcallLetterModal" style="display:none;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 90%;">
            <div id="lsmmodeldata" class="modal-content" style="padding: 10px;border-radius: 25px;border: 5px solid indianred;">
            </div>
        </div>
     </div>




</body>
<input type="hidden" th:value="${docfile}" id="docfileview">
<script src="js/header.js"></script>
<script src="js/curtLsm.js"></script>
<script>

 function viewFilePdf(obj){
		console.log("sucess");	
		var row = $(obj).attr('id');
		var offid = $('#crtLsmtable').find('tr').eq(row).find('td:eq(5)').text();
		//var tme = $('#crtLsmtable').find('tr').eq(row).find('td:eq(10)').text();
		//var lsmdata=$("#").val();
		console.log(offid);

		$.ajax({
		url: 'getdocview?offid='+offid,
		type:'get',
		success: function(data) {
								
              
                $("#lsmmodeldata").html(data);
                $("#lsmpdfpath").attr('src','file/pdf/'+$('#docfileview').val() + '#toolbar=0&navpanes=0;readonly=true;');
                
                $("#lsmmodel").modal('toggle');
                
              
}

});

    }



function refresh(){
window.location = "current_lsm";
}

$(document).ready(function() {
$('#crtLsmtable tr').each(function() {
  var columnValue = $(this).find('td:nth-child(12)').text();
  if (columnValue == '') {
    $(this).find('button').css('display', 'none');
  }
}); });




$(document).ready(
		function() {
		
		$("#addLsm").click(
					function() {
				
					window.location = "allocate_LSM";
					
					});
		});
	

/*$(document).ready(
		function() {
		
		$("#editLsm").click(
					function() {
				
					window.location = "edit_LSM";
					
					});
		});*/

$(document).ready(
		function() {
		
		$("#viewLsm").click(
					function() {
				
					window.location = "view_LSM";
					
					});
		});





$(document).ready(
		function() {
		
		$("#removeLsm").click(
					function() {
				
					window.location = "remove_LSM";
					
					});
		});
		
		$(document).ready(
		function() {
		
		$("#histryLSM").click(
					function() {
				
					window.location = "lsmhstry";
					
					});
		});
		
			  function goback() {
     window.location = "usermanagement";
     
     }      
</script>

</html>