<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Alert</title>
<style type="text/css">

#processtable_wrapper{
 
    padding-top: 20px !important;
 }

 .ui-widget-content .ui-icon {
    background-image: url(images/report/ui-icons_222222_256x240.png) !important;
    
    }
.lab_txt, .col-form-label {
	font-size: 12px;
	color: blue;
}

.table-bordered thead td, .table-bordered thead th {
	border-bottom-width: 1px;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 1px solid #040404;
}

.table-bordered td, .table-bordered th {
	border: 1px solid #000000;
}

.form_txt {
	font-weight: 700
}

.bg_rec {
	background-color: #e6e5e5;
	border-radius: 10px;
	padding: 10px;
}

.lab_txt {
	font-size: 13px;
	font-weight: 700;
	color: blue;
}

.col-form-label {
	padding-top: 2px;
	font-size: 13px;
	font-weight: 700;
	color: blue;
}

.col-form-label {
	padding-top: 2px;
}

.breadcrumb-pagination {
	width: 100%;
	border-bottom: 1px solid #E1E6EB;
	text-align: center;
	color: #B3B7C1;
}

.breadcrumb-pagination div {
	width: 15%;
	display: inline-block;
}

.breadcrumb-pagination div span {
	margin: 0 auto;
	display: block;
	border-radius: 100%;
	width: 36px;
	font-size: 20px;
}

.completed span {
	background-color: NONE;
	color: #95db89;
	border: 2px solid #95db89;
}

.active1 span {
	background-color: #00abc9;
	color: #fff;
}

.todo span {
	background-color: none;
	color: #E1E6EB;
	border: 2px solid #E1E6EB;
}

.breadcrumb-pagination div p {
	text-align: center;
	line-height: 0;
	margin: 10px auto 0px;
}

.active1 p {
	border-bottom: 2px solid #00abc9;
	padding-bottom: 20px;
	margin-bottom: 0px !important;
	color: #3c4043;
	font-weight: 700;
}

.scroll_down {
	width: 310%;
	height: 69px;
	overflow-x: hidden;
	overflow-y: auto;
}

.completed p {
	color: "#bsb7c1;"
}

.completed span::before {
	content: '\2713'
}
    li{
        cursor: pointer;
    }
    
    .columnhighlight{
    background-color: rgb(141, 214, 236);
    color: darkblue;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 3px;
    padding-left : 10px;

    }
    
    .multiselect {
    color: #495057 !important;
    background-color: #fff !important;
    border: 1px solid #ced4da !important;

    }
    
    #processtable .detailpopup:hover	{
	font-size: 130%;
	text-decoration-line: underline;
	cursor: pointer;
	} 
  #overlay {
   position: fixed;
   left: 0%;
   top: 0%;
   z-index: 9999;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    height: 100%;
        }
  #loader {
    position: fixed;
    display: block;
     left: 50%;
     top: 48%;
     z-index: 9999;
     width: 100%;
      height: 100%;
      background-image: url(images/report/loader.gif);
     background-repeat: no-repeat;
     margin: -77px 0 0 -75px;
        } 
        
       .swal-button {
	        background-color: #35b935;
	        color:#fff;
	        box-shadow: none;
	    }
	    
	    .swal-button--cancel{
		    color:#fff;
		    background-color: #f14141;
		    box-shadow: none;
	    }
	    
	     .swal-button:not([disabled]):hover {
	        background-color: #35b935;
	        color:#fff;
	    }
	    
	    .swal-button--cancel:not([disabled]):hover {
		    color:#fff;
		    background-color: #f14141;
        }
        
        .swal-button:active {
        	background-color: #35b935;
	        color:#fff;
        }
        
        .swal-footer{
        	display: flex;
    		justify-content: space-around;
    		gap:250px;
    	}   

	.swal-button:focus {
        	outline: none !important;
        	box-shadow: none !important;
     	 }

        
        
        
        
         
</style>
</head>

<head lang="en" th:replace="header :: header"></head>
<body>
<div id="overlay" style="display: none;">
        <div id="loader">
        <div style="font-size: 20px; padding-top:5%"><b>Please wait...</b>
</div>   </div> </div>
<div align=left style="margin-left: 1%; margin-right: 1%">
<button type="button" class="btn btn-info" onclick="goback()" style="line-height: 16px;background-color: darkred;border-color: darkred;">Back
			</button>
		</div>
<h3 style="text-align: center; color: #1616e0;">LOCAL ALERT MANAGER</h3>
<div style="background-color: #f8f9fa;">
<div class="ml-3">

      <input type="hidden" th:value="${fromdate}" id="reloadfromdate" >
      <input type="hidden" th:value="${todate}" id="reloadtodate" >

<!--div class="col-md-1" style="margin-left: 20px;padding-top: 10px;">
			<a href="aclfunction"><button type="button" class="btn btn-info" style="line-height: 16px; background-color: darkred; border-color: darkred;">Back</button></a>
		</div-->
		
		<div align="center">
				<h1 id="titletab" class="form_txt ">Manage Alerts For FPO Site - <span th:text="${level}"></span></h1>
			</div>
			<div class=" mt-4 pl-4">
<strong>Note :</strong>
<p style="font-size: 15px;"> Alerts inserted will be displayed to the users of this application in the EAD, AAA and AAF modules, just as a pop up. Alerts as such doesn't stop any Article ID moving from one functionality to other. Officer has to exercise the options available suitably</p>
</div>
			
<nav class="navbar navbar-expand-lg " >
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav" style="">
<ul class="navbar-nav" id="button-list">
<li class="nav-item px-1 pad"><a name="view" class="nav-link btn btn-sm btn-success" href="javascript:;"> <strong>View Active Alerts</strong></a></li>
<li class="nav-item px-1 pad"><a name="insertremovealert" class="nav-link btn btn-outline-success btn-sm" href="javascript:;"><strong>Insert / Remove Alerts</strong></a></li>
<li class="nav-item px-1 pad"><a name="history" class="nav-link btn btn-outline-success btn-sm" href="javascript:;"><strong>History</strong></a></li>
						<div class="row ml-5 date" style="display: none">
							<div>
								<label class="form_txt " for="birthday"> From : </label> 
								<input
									class="picker form-control form_txt change" type="text"
									name="fromdate" readonly id="fromdate"
									style="display: inline; width: auto;">
							</div>
							<div class="pl-5">
								<label class="pl-5 form_txt " for="birthday">To : </label> <input
									class="picker form-control form_txt change" type="text"
									name="todate" readonly id="todate"
									style="display: inline; width: auto;">
							</div>
							<button onclick="datesubmit()" id="datesubmit" type="button" class="add ml-3" style="color: rgb(255, 255, 255); background-color: rgb(23, 162, 184); border-color: rgb(23, 162, 184); ">Submit</button>
						</div>
					</ul>
</div>


</nav>
</div>

<div id="tablediv" align="center" class="col-md-12">


                      
<button onclick="insertpopup()"  id="add" type="button" class="add mb-1" style="font-size:22px;color: #fff;background-color:#335e3d; size:20px;border-color:#335e3d;text-align:center;display:none;"><strong> Insert Alerts</strong></button>
            <table id="processtable" class="table table-striped table-bordered newtable"
               style="font-size: 16px; text-align: center;width: 100%;">
               <thead style="background-color: #a1c4e6;">
                  <tr>
                     <th style="width: 45px;">Sl.No.</th>
                     <th scope="col" style="text-align: center;">Alert Type</th>
                     <th scope="col" style="text-align: center;">Alert No</th>
                     <th scope="col" style="text-align: center;">Alert Date</th>
                     <th  scope="col" style="text-align: center;">Created By</th>
                     <th scope="col" style="text-align: center;">Status</th>
                     <th scope="col" style="text-align: center;">Active Since</th>
                     <th scope="col" style="text-align: center;">Removed By</th>
                     <th scope="col" style="text-align: center;">Removed Date</th>
                     <th scope="col" style="text-align: center;">Action</th>
                     <th scope="col" style="text-align: center;">Removed Reason</th>
                     <th scope="col" style="text-align: center;">Alert</th>
                     <th scope="col" style="text-align: center;">Reason</th>
                     <th scope="col" style="text-align: center;">Country</th>
                     <th scope="col" style="text-align: center;">Mail Class</th>
                     <th scope="col" style="text-align: center;">Item Category</th>
                  </tr>
               </thead>
               <tbody>
                  <tr  th:each="values: ${fpo_Alert}" class="" >
                     <td ></td>
                     <td class="detailpopup" th:text="${values.alert_type}">Generic</td>
                     <td class="detailpopup" th:text="${values.id}">12345</td>
                     <td th:text="${values.gen_dt}">12/12/2021</td>
                     <td th:text="${values.off_id}">40000413</td>
                     <td th:text="${values.status}">Active</td>
                     <td th:text="${values.active_since}">12/12/2021</td>
                     <td th:text="${values.removed_by}">12/12/2021</td>
                     <td th:text="${values.removed_dt}">12/12/2021</td>
                     <td>
                     <button  id="remove" onclick="removealertpopup(this)" type="button" class="remove" th:data-id="${values.id}" style="color: #fff;background-color: #17a2b8;border-color: #17a2b8;">Remove</button>
                     
                     </td>
                     <td th:text="${values.remove_reason}">12/12/2021</td>
                     <td th:text="${values.alert}"></td>
                     <td th:text="${values.reason}"></td>
                     <td th:text="${values.country}"></td>
                     <td th:text="${values.mail_class}"></td>
                     <td th:text="${values.item_category}"></td>
                  </tr>
               </tbody>
            </table>


</div>
</div>

<div class="modal fade" id="typemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  style="overflow:auto;" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #f1f8ff;">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight: bold;text-transform: uppercase;">Please Choose Alert Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background: #f1f8ff;">
                        <div class="form-group row" style="margin-bottom:1rem;text-align: center;display: inherit;">
                            <button type="button" class="btn btn-success" id="general">Generic Alert</button>
                             <button type="button" class="btn btn-success" id="specific" >Specific Alert</button>
                        </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="modal fade" id="insertmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  style="overflow:auto;" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 35%;">
            <div class="modal-content">
                <div class="modal-header" style="background: #f1f8ff;">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight: bold;text-transform: uppercase;">Insert Specific Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background: #f1f8ff;">
                    <form id="genericForm">
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Select Country<label style="color: red;">&nbsp;*</label></label>
                            <div class="col-sm-8">
                                
                       <select  name="country" title="Select Value..." multiple class="form-control multiselect" id="country" >
                        
                        <option th:each="values: ${CountryOfOrigin}"
                           th:value="${values.data}"
                           th:text="|${values.value}|" th:attr="data-name=${values.value}">option</option>
                     </select>
                                <p id="countryerr" style="display: none;color: red;">Please Choose Country</p>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Select Mail Class</label>
                            <div class="col-sm-8">
                              
                     <select title="Select Value..." name="mail_class" multiple class="form-control multiselect" id="mailclass" >
                        
                        <option th:each="values: ${mailclass}"
                           th:value="${values.data}"
                           th:text="|${values.value}|" th:attr="data-name=${values.value}">option</option>
                     </select>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Select Item Category</label>
                            <div class="col-sm-8">
                           
                     <select title="Select Value..." name="item_category" multiple class="form-control multiselect" id="itemcat" >
                        
                        <option th:each="values: ${MailCat}"
                           th:value="${values.data}"
                           th:text="|${values.value}|" th:attr="data-name=${values.value}">option</option>
                     </select>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputtext3" class="col-sm-4 col-form-label modal-label">Enter Alert<label style="color: red;">&nbsp;*</label></label></label>
                            <div class="col-sm-8">
                                <textarea rows="5" class="form-control"  id="alert"  name="alert" placeholder="Please Enter Alert"></textarea>
                                <p id="alerterr" style="display: none;color: red;">Please Enter Alert</p>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Enter Reason<label style="color: red;">&nbsp;*</label></label>
                            <div class="col-sm-8">
                                <textarea rows="5" type="text" class="form-control" id="reason" name="reason" placeholder="Please Enter Reason"></textarea>
                                <p id="reasonerr" style="display: none;color: red;">Please Enter Reason</p>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Active From<label style="color: red;">&nbsp;*</label></label>
                            <div class="col-sm-8">
                                <input type="datetime-local" id="active_since" name="activetime">
                                <span>Please Select Date & Time.</span>
                                <p id="specifictime" style="display: none;color: red;">Please Choose Greater than Current Date & Time</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="background: #f1f8ff;" id="Footer">
                   
                    <button type="button" class="btn btn-success" id="submitalertBtn" onclick="addgenericalertdetail()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="modal fade" id="specificinsertmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  style="overflow:auto;" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 35%;">
            <div class="modal-content">
                <div class="modal-header" style="background: #f1f8ff;">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight: bold;text-transform: uppercase;">Insert Generic Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background: #f1f8ff;">
                    <form id="additionalQueryForm">
                        
                        
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputtext3" class="col-sm-4 col-form-label modal-label">Enter Alert<label style="color: red;">&nbsp;*</label></label></label>
                            <div class="col-sm-8">
                                <textarea rows="5" class="form-control"  id="specificalert"  name="query" placeholder="Please Enter Alert"></textarea>
                                <p id="specificalerterr" style="display: none;color: red;">Please Enter Alert</p>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Enter Reason<label style="color: red;">&nbsp;*</label></label>
                            <div class="col-sm-8">
                                <textarea rows="5" type="text" class="form-control" id="specificreason" name="text" placeholder="Please Enter Reason"></textarea>
                                <p id="specificreasonerr" style="display: none;color: red;">Please Enter Reason</p>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Active From<label style="color: red;">&nbsp;*</label></label>
                            <div class="col-sm-8">
                                <input type="datetime-local" id="specificactivetime" name="activetime">
                                <span>Please Select Date & Time.</span>
                                <p id="specificactivetimeerr" style="display: none;color: red;">Please Choose Greater than Current Date & Time</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="background: #f1f8ff;" id="FooterAdditionalQuery">
                  Note : Please obtain necessary approval form the Competent Authority before inserting Alert.
                    <button type="button" class="btn btn-success" id="specificsubmitalertBtn" onclick="addspecificalertdetail()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    

    <div class="modal fade" id="removeinsertmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  style="overflow:auto;" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 35%;">
            <div class="modal-content">
                <div class="modal-header" style="background: #f1f8ff;">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight: bold;text-transform: uppercase;">Remove Reason</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background: #f1f8ff;">
                    <form id="additionalQueryForm">
                        
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Enter Reason</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="removereason" name="text" placeholder="Please Enter Reason">
                                <input type="hidden" class="form-control" id="removeid">
                                <span style="display: none;color: red;" id="mandreason">Please Enter Reason</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="background: #f1f8ff;" id="FooterAdditionalQuery">
                   Note : Please obtain necessary approval form the Competent Authority before removing Alert.
                    <button type="button" class="btn btn-success" id="removesubmitalertBtn" onclick="removealert()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    
     <div class="modal fade" id="infomodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  style="overflow:auto;" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 35%;">
            <div class="modal-content">
                <div class="modal-header" style="background: #f1f8ff;">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight: bold;text-transform: uppercase;">Alert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background: #f1f8ff;max-height: 79vh;overflow-y: auto;">
                    <form id="genericForm">
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Alert No</label>
                            <div class="col-sm-8">
                                
                     <span id="alertnoinfo"></span>
                     
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Alert</label>
                            <div class="col-sm-8">
                              
                                
                     <span id="alertinfo"></span>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Alert Reason</label>
                            <div class="col-sm-8">
                           
                                
                     <span id="reasoninfo"></span>
                            </div>
                        </div>
                        
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Active From</label>
                            <div class="col-sm-8">
                                             
                     <span id="activeinfo"></span>
                     </div>
                        </div>
                        
                        <div id="specificcontent">
                        
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Country</label>
                            <div class="col-sm-8" style="word-break: break-word;">
                                             
                     <span id="cntryinfo"></span>
                     </div>
                        </div>
                        
                        
                        
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Mail Class</label>
                            <div class="col-sm-8" style="word-break: break-word;">
                                             
                     <span id="mailclsinfo"></span>
                     </div>
                        </div>
                        
                        
                        
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Item Category</label>
                            <div class="col-sm-8" style="word-break: break-word;">
                                             
                     <span id="itemcatinfo"></span>
                     </div>
                        </div>
                        
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer" style="background: #f1f8ff;" id="Footer">
                   
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div> -->
            </div>
        </div>
    </div>

<script  th:src="@{js/sitealert.js}"></script>
</body>
<script>
       function goback() {
     window.location = "aclfunction";
     
     } 
     
  function showLoader() {
	$("#overlay").css("display", "block");
	$('#overlay').height($("body").innerHeight());
}

function hideLoader() {
	setTimeout(function() {
		$("#overlay").css("display", "none");
	}, 500);
}   
</script> 
</html>