<html>

<body style="background: #d6dcd9; overflow-x: hidden;">
<br><br><br><br><br><br>
<div align=center><font size=36>THANK YOU <br><br>FOR<br><br> USING <br><br>FPO IMPORT APPLICATION<br><br></font><font align=center><font size=5>For Complete Logout,  Please close the window and logout from CBIC Network.</font></div>

</body>

</html>

<script type = "text/javascript" >
// Clear browser history and prevent navigation to previous pages
function clearHistoryAndPreventNavigation() {
    window.history.replaceState(null, null, window.location.href);
    window.onpopstate = function () {
        window.history.go(1);
    };
}

// Call the function when the page is loaded
clearHistoryAndPreventNavigation();
</script>