<!DOCTYPE html>
<html>
<head lang="en" th:replace="header :: header"></head>
<body>
	 <div align=left style="margin : 1%">
			<button type="button" class="btn btn-info" onclick="goback()" style="line-height: 16px;background-color: darkred;border-color: darkred;">Back</button>
	</div>
	<div style="display:flex;justify-content:center;align-items:center;height:60vh;">
		<h4>Functionality Will Be Available Soon</h4>
	</div>
</body>
	<script>
       function goback() {
	     window.location = "aclfunction";
	     
	  } 
	</script> 
</html>