<style>

#overlay {
   position: fixed;
   left: 0%;
   top: 0%;
   z-index: 9999;
    width: 100%;
    background: rgba(255, 255, 255, .7);
    height: 100%;
        }
  #loader {
    position: fixed;
    display: block;
     left: 50%;
     top: 48%;
     z-index: 9999;
     width: 100%;
      height: 100%;
      background-image: url(images/report/loader.gif);
     background-repeat: no-repeat;
     margin: -77px 0 0 -75px;
        }

</style>
<div id="overlay" style="display: none;">
        <div id="loader">
        <div style="font-size: 20px; padding-top:5%"><b>Please wait...</b>
</div>   </div> </div>

<div id="pushdcallshow" class="col-md-12">


<div align="center" style="margin-bottom: 1rem;margin-top: 1rem;">
				<span id="titletab" class="form_txt " style="font-size: x-large;color: #17a2b8;">Speed Post Consign.No of D-Call Letter Dispatched History</span>
			</div>
			<div class="col-md-12" style="margin-left: -29px; margin-bottom: 20px;">
 	<label class="form_txt col-md-9"> Total D-call Letter </label>
   	<span style="margin-left: -76rem;" class="form_txt box-span" th:text="${totalpostdishis}">0</span>
</div>
 <table id="dcallhisttable" class="table table-striped table-bordered newtable"
               style="font-size: 16px; text-align: center;width: 100%;">
				<thead style="background-color: #a1c4e6;">
					<tr>
						<th scope="col" id="sinid" style="width: 45px;">Sl.No.</th>
						<th scope="col" style="text-align: center;">Article Id</th>
						<th scope="col" style="text-align: center;">Receiver Name</th>
						<th scope="col" style="text-align: center;">Receiver Address</th>
						<th scope="col" style="text-align: center;">DCALL Letter No</th>
						<th scope="col" style="text-align: center;">DCALL Letter Date</th>
						<th scope="col" style="text-align: center;">Speed Post Consign.No of D-Call Letter Dispatched</th>
						<th scope="col" style="text-align: center;">Dispatch Date</th>
						<th scope="col" style="text-align: center;">Status<b>*</b></th>
						<th scope="col" style="text-align: center;">Id</th>
						<th scope="col" style="text-align: center;">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="values,iter :  ${dcallhistory}" class="" >
						 <td  ></td>
						 <td class="pdfview" onclick="pdfview(this)"  th:text="${values.item_id}"  id="itemidmodal"  th:data-mail1="${values.mail_to}" th:data-mail2="${values.mail_cc}" th:data-mob1="${values.mobile_no_1}" th:data-mob2="${values.mobile_no_2}"  th:data-recp_name="${values.recp_name}" th:data-dcall_no="${values.dcall_no}" th:data-full_path="${values.full_path}" th:data-filename="${values.gen_filename}" th:data-cinno="${values.cin_no}" th:data-itemid="${values.item_id}" ></td>
						 <td  th:text="${values.recp_name}"></td>
			             <td  th:text="${values.recp_add1}"></td>
			             <td  th:text="${values.dcall_no}"></td>
			             <td  th:text="${values.gen_dt}"></td>
			             <td  th:text="${values.speedpost_no}"></td>
			             <td  th:text="${values.speedpost_dt}"></td>
			             <td  th:text="${values.speedpost_deli_status}"></td>
			             <td  th:text="${values.id}"></td>
			             <td><button  id="edit" type="button" class="edit" style="color: #fff;background-color: #17a2b8;border-color: #17a2b8;">Edit</button></td>
			             </tr>
				</tbody>
			</table>
		<div margin-left="5%">	<b>Note: * - </b>  Delivery Status of DCALL letter dispatched will be updated every 30 minutes..</div>
		</div>
		
		<div class="modal fade" id="infoeditmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  style="overflow:auto;" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 35%;">
            <div class="modal-content">
                <div class="modal-header" style="background: #f1f8ff;">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-weight: bold;text-transform: uppercase;">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background: #f1f8ff;max-height: 79vh;overflow-y: auto;">
                    <form id="genericForm">
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Article Id</label>
                            <div class="col-sm-8">
                                
                     <span id="articleid"></span>
                     
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Receiver Name</label>
                            <div class="col-sm-8">
                              
                                
                     <span id="recpname"></span>
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Receiver Address</label>
                            <div class="col-sm-8">
                           
                                
                     <span id="recpaddr"></span>
                            </div>
                        </div>
                        
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">D-Call Letter No</label>
                            <div class="col-sm-8">
                                             
                     <span id="dcalno"></span>
                     </div>
                        </div>
                        
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-5 col-form-label modal-label" style="color: black;">D-Call Letter Dispatched Detail</label>
                        </div>
                        
                        
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Speed Post No</label>
                            <div class="col-sm-8">
                                                     
                     <input class="form_txt" id="speedpostno" maxlength="13" onkeypress="return postnoFunction(this,event)" placeholder="Enter Speed Post Consign.No"  type="text"/>
                     <input id="editid" type="hidden"/>
                     </div>
                        </div>
                        
                        <div class="form-group row" style="margin-bottom:1rem">
                            <label for="inputPassword3" class="col-sm-4 col-form-label modal-label">Dispatch Date</label>
                                             
                            <div class="col-sm-8">
                                             
                    <input class="form_txt" type="text" id="editdate" readonly>
                     </div>
                        </div>
                    </form>
                </div>
        <div class="modal-footer" align="center" style="background: #f1f8ff;display: inline;">
          <button type="button" class="btn btn-primary" id="editspeedpost">Save</button>
        </div>
            </div>
        </div>
    </div>
		
		<script>
		
$("#dcallhisttable").dataTable({
		"processing": true,
		"paging": false,
		scrollY: '45vh',
		scrollCollapse: true,
		scrollX: true,
		"dom": '<"pull-left"Bl>frtip',
		buttons: [{extend: "excel", text: '<i>EXCEL</i>',
				   className: 'btn btn-primary mb-3',
				   title:'FPO IMPORT APPLICATION - ICES',
					filename:' D-Call Letter',
					message:' D-Call Letter @ ' + sitecode + '\n\r' + datetime,
					exportOptions: {
        				columns: [ 0,1,2,3,4,5,6,7,8,10],
						margin: true,
      						}, 
					//customize: function (doc) {}
					},
				//pdf
    			  {extend: 'pdf',
				    text:'<i>PDF</i>',
				    pageSize: 'A4',
					watermark:'fpo',
                    className: ' btn btn-success mb-3 ',				
				    orientation: 'landscape',
				    exportOptions: {
        				columns: [ 0,1,2,3,4,5,6,7,8,10],
						margin: true,
      						}, 
		   		    customize: function(doc, header) {
		   		    doc.content[1].table.widths = ['5%','9%','9%','11%','11%','11%','10%','10%','12%','12%'];
				   	doc.defaultStyle.alignment = 'center'
					 //doc.styles.tableHeader.fillColor='#ADD8E6',
					 doc.styles.tableHeader = {
        						color: '#2D1D10',
								fillColor:'#ADD8E6',
        						fontSize: '10',
        						alignment: 'center'
    						},
					doc.content.splice(1, 0,{
					text: [{text:' Date:'+ datetime, bold: true,
					alignment: 'right',
					fontSize: 7,
					margin:[0,20,0,20],
					//watermark:'fpo', 
					},],});
					doc.content.splice(1, 0,{
          			text: [{text:' SSO ID: ' + empid, bold: true,
					alignment: 'left',
					fontSize: 7,
					margin:[0,0,90,20],
					//watermark:'fpo', 
					},],}); 
					//doc.style.tableHeader		
					doc.defaultStyle.fontSize = 5;
					doc.styles.title.bold=true;
					doc.styles.title.fontSize=15;
					doc.styles.title.alignment="center",
					doc.styles.message.fontSize = 9;
					doc.styles.message.bold=true;
					//doc.styles.message.alignment = "right";
					doc.styles.tableHeader.fontSize= 6;
					doc.styles.tableHeader.bold=true;
					doc['footer']=(function(page, pages) {
							return {
								columns: ['',{
								alignment: 'right',
										text: ['Page  ',{ text: page.toString(), italics: true,fontSize:7},'  of ',
											{ text: pages.toString(), italics: true,fontSize:6 }],italics: true, fontSize:6  }],
										margin: [15, 0]}});
    		        },
			
			title: 'FPO IMPORT APPLICATION - ICES'+
							'\n\r'+' D-Call Letter @ ' + sitecode,
           			//message: empid,
					//message:datetime, 
					filename:' D-Call Letter ',
},
			//Print
		         {extend: "print" ,
				  className: 'btn btn-danger mb-3',
				  title: 'FPO IMPORT APPLICATION - ICES',
			      text: '<i>PRINT</i>',
				  message:' D-Call Letter @ ' + sitecode + '\n\r' + datetime ,
					filename:' D-Call Letter',
					exportOptions: {
        				columns: [ 0,1,2,3,4,5,6,7,8,10],
						margin: true,
      						}, 
					customize: function ( win ) {
					console.log("sucess");
						$(win.document.body).css( 'font-size', '8pt' )
						$(win.document.body).find( 'table' ).css( 'font-size', 'inherit' );
						},	}],
		
		"initComplete": function( settings ) {
	     $("#dcallhisttable_filter").append('<button type="button" class="btn btn-info" id="clear6" '+
			'style="margin-left: 15px;margin-bottom: 5px;">Clear</button>');
          $("#dcallhisttable_filter input[type='search']").attr('id', 'searchdcallhisttable');
		$('#clear6').click(function() {	
		document.getElementById("dcallhisttable").value=""
		var table = $('#dcallhisttable').DataTable();
		table.search('').draw();
	   })
    	}
	});


	$('#dcallhisttable').DataTable().on('order.dt search.dt', function() {
		$('#dcallhisttable').DataTable().column(0, {
			search: 'applied',
			order: 'applied'
		}).nodes().each(function(cell, i) {
			cell.innerHTML = i + 1;
		});
	}).draw();
	$('#dcallhisttable').DataTable().columns(9).visible(false);
	
	
	$("#editdate").datepicker({
		dateFormat: "dd/mm/yy"
	});
	
var roweditid;
$('#dcallhisttable').on('click', '.edit', function() {
	roweditid = $(this).closest("tr");

	var data = $("#dcallhisttable").DataTable().row(roweditid).data();
	$('#articleid').text(data[1]);
	$('#recpname').text(data[2]);
	$('#recpaddr').text(data[3]);
	$('#dcalno').text(data[4]);
	$('#speedpostno').val(data[6]);
	$('#editdate').val(data[7]);
	$('#editid').val(data[9]);

	$('#infoeditmodal').modal('show');

});


$("#editspeedpost").click(function() {
	

	var oMyForm = new FormData();
	oMyForm.append("speedpostno", $('#speedpostno').val());
	oMyForm.append("editdate", $('#editdate').val());
	oMyForm.append("id", $('#editid').val());


	jQuery.ajax({
		url: "editspeedpost",
		global: false,
		data: oMyForm,
		dataType: 'text',
		processData: false,
		contentType: false,
		type: 'POST',

		success: function(data) {
			console.log('edit inside success');

			$('#infoeditmodal').modal('hide');

			speedpostrecordstatusV();

		}
	});



});



function postnoFunction(obj,objevent){

	var length = obj.value.length;
	var keyCode = objevent.which ? objevent.which : objevent.keyCode;

	var success=0;
	
	if(length == 0){
		if(keyCode >= 65 && keyCode <= 90 ){
        	success=1;
        }
	}
	
	if(length == 1){
		if(keyCode >= 65 && keyCode <= 90 ){
        	success=1;
        }
	}
	
	if(length == 2){
		if(keyCode >= 48 && keyCode <= 57 ){
			success=1;
		}
	}
	
	if(length == 3){
		if(keyCode >= 48 && keyCode <= 57 ){
			success=1;
		}
	}
	
	if(length == 4){
		if(keyCode >= 48 && keyCode <= 57 ){
			success=1;
		}
	}
	
	if(length == 5){
		if(keyCode >= 48 && keyCode <= 57 ){
			success=1;
		}
	}
	
	if(length == 6){
		if(keyCode >= 48 && keyCode <= 57 ){
			success=1;
		}
	}
	
	if(length == 7){
		if(keyCode >= 48 && keyCode <= 57 ){
			success=1;
		}
	}
	
	if(length == 8){
		if(keyCode >= 48 && keyCode <= 57 ){
			success=1;
		}
	}
	
	if(length == 9){
		if(keyCode >= 48 && keyCode <= 57 ){
			success=1;
		}
	}
	
	if(length == 10){
		if(keyCode >= 48 && keyCode <= 57 ){
			success=1;
		}
	}
	
	if(length == 11){
		if(keyCode >= 65 && keyCode <= 90 ){
        	success=1;
        }
	}
	
	if(length == 12){
		if(keyCode >= 65 && keyCode <= 90 ){
        	success=1;
        }
	}
	
	if(success == 1){
		return true;
	}else{
		return false;
	}
	
}
function showLoader() {
	$("#overlay").css("display", "block");
	$('#overlay').height($("body").innerHeight());
}

function hideLoader() {
	setTimeout(function() {
		$("#overlay").css("display", "none");
	}, 500);
}
		</script>